@charset "UTF-8";
/*NanumSquare.scss*/
@font-face {
  font-family: "nsL";
  font-display: swap;
  /* auto, block, swap, fallback, optional */
  -webkit-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
  src: url(../fonts/NanumSquareL.woff) format("woff"), url(../fonts/NanumSquareL.ttf) format("truetype"); }

@font-face {
  font-family: "nsR";
  font-display: swap;
  /* auto, block, swap, fallback, optional */
  -webkit-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
  src: url(../fonts/NanumSquareR.woff2) format("woff2"), url(../fonts/NanumSquareR.woff) format("woff"), url(../fonts/NanumSquareR.ttf) format("truetype"); }

@font-face {
  font-family: "nsB";
  font-display: swap;
  /* auto, block, swap, fallback, optional */
  -webkit-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
  src: url(../fonts/NanumSquareB.woff2) format("woff2"), url(../fonts//NanumSquareB.woff) format("woff"), url(../fonts/NanumSquareB.ttf) format("truetype"); }

@font-face {
  font-family: "nsE";
  font-display: swap;
  /* auto, block, swap, fallback, optional */
  -webkit-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
  src: url(../fonts/NanumSquareEB.woff2) format("woff2"), url(../fonts//NanumSquareEB.woff) format("woff"), url(../fonts/NanumSquareEB.ttf) format("truetype"); }

/* Reset CSS
 * --------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none; }

table {
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

strong {
  font-weight: bold; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #f2f2f2; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden; }

/*_mixins.scss*/
body, .wrap header nav.navbar .navbar-collapse .navbar-nav li a {
  color: #ffffff; }

.wrap, .wrap header nav.navbar .navbar-collapse .navbar-nav li a:hover i, .wrap header nav.navbar .navbar-collapse .navbar-nav li.active a i, .wrap section.sub1 {
  background-color: #ffffff; }

.wrap section.sub4 .inner .tit_wrap .en_tt {
  color: #111111; }

.wrap header.header, .wrap section.sub2, .wrap section.sub4 .inner .tit_wrap i, .wrap .footer {
  background-color: #111111; }

.wrap header nav.navbar .navbar-collapse div.down_box a.down_btn, .wrap section.section .inner .tit_wrap .ex_txt {
  color: #666666; }

.wrap header nav.navbar .navbar-collapse .navbar-nav li a span {
  color: #eeeeee; }

.wrap section.sub4 {
  background-color: #eeeeee; }

.wrap section.sub1 .inner .tit_wrap .en_tt {
  color: #0c4da2; }

.wrap section.sub1 .inner .tit_wrap i {
  background-color: #0c4da2; }

.wrap section.sub2 .inner .tit_wrap .en_tt {
  color: #d2a16d; }

.wrap section.sub2 .inner .tit_wrap i {
  background-color: #d2a16d; }

.wrap section.sub3 .inner .tit_wrap .en_tt {
  color: #ff6871; }

.wrap section.sub3 .inner .tit_wrap i {
  background-color: #ff6871; }

html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'nsR', sans-serif, -apple-system;
  font-size: 18px; }

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }
  .wrap header.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .wrap header.header .sm_logo {
      display: block; }
    .wrap header.header .hd_logo {
      display: none; }
    .wrap header.header nav.navbar .navbar-collapse .navbar-nav li {
      margin: 0 50px; }
  .wrap header.fixed {
    background: none;
    padding: 60px 100px; }
    @media (max-width: 576px) {
      .wrap header.fixed {
        background: #fff; } }
    .wrap header.fixed .sm_logo {
      display: none; }
    .wrap header.fixed .hd_logo {
      display: block; }
    .wrap header.fixed nav.navbar .navbar-collapse .navbar-nav li {
      margin: 0 30px; }
  .wrap header nav {
    width: 100%; }
    .wrap header nav.navbar .navbar-brand {
      width: 10%; }
    .wrap header nav.navbar .navbar-collapse {
      width: 90%; }
      .wrap header nav.navbar .navbar-collapse .navbar-nav {
        width: 80%;
        margin-left: 12%; }
        .wrap header nav.navbar .navbar-collapse .navbar-nav li {
          position: relative; }
          .wrap header nav.navbar .navbar-collapse .navbar-nav li a {
            font-size: 16px;
            font-size: 1.04rem;
            font-family: 'nsB'; }
            .wrap header nav.navbar .navbar-collapse .navbar-nav li a i {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              -webkit-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s; }
            .wrap header nav.navbar .navbar-collapse .navbar-nav li a.nav-link {
              padding-right: .2rem;
              padding-left: .1rem; }
            .wrap header nav.navbar .navbar-collapse .navbar-nav li a:hover i {
              display: -moz-inline-stack;
              display: inline-block;
              vertical-align: top;
              zoom: 1;
              *display: inline;
              width: 100%;
              height: 2px;
              -webkit-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s; }
            .wrap header nav.navbar .navbar-collapse .navbar-nav li a span {
              font-size: 12px;
              font-size: 0.78rem;
              font-family: 'nsR';
              margin-left: 10px; }
          .wrap header nav.navbar .navbar-collapse .navbar-nav li.active a i {
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            *display: inline;
            width: 100%;
            height: 2px;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
      .wrap header nav.navbar .navbar-collapse div.down_box {
        text-align: right;
        width: 20%; }
        .wrap header nav.navbar .navbar-collapse div.down_box a.down_btn {
          font-size: 11px;
          font-size: 0.715rem;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          border: 1px solid #777;
          padding: 9px 10px 9px 36px;
          text-decoration: none;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .wrap header nav.navbar .navbar-collapse div.down_box a.down_btn.bg1 {
            background: url(../img/hd_icon01.png) no-repeat 10px 45%; }
          .wrap header nav.navbar .navbar-collapse div.down_box a.down_btn.bg2 {
            background: url(../img/hd_icon02.png) no-repeat 10px 45%; }
          .wrap header nav.navbar .navbar-collapse div.down_box a.down_btn:hover {
            border: 1px solid #888;
            color: #999;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
  .wrap section.section {
    position: relative;
    overflow: hidden; }
    .wrap section.section .inner {
      text-align: center;
      width: 1200px;
      padding: 75px 10px;
      margin: 0 auto; }
      @media (max-width: 1200px) {
        .wrap section.section .inner {
          width: 100%; } }
      .wrap section.section .inner .tit_wrap i {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;
        width: 2px;
        height: 55px; }
      .wrap section.section .inner .tit_wrap .en_tt {
        font-size: 18px;
        font-size: 1.17rem;
        margin-top: 40px;
        font-family: 'nsB';
        text-transform: uppercase; }
      .wrap section.section .inner .tit_wrap .ex_txt {
        font-size: 34px;
        font-size: 2.21rem;
        margin-top: 40px;
        font-family: 'nsL'; }
      .wrap section.section .inner article {
        margin-top: 70px; }
  .wrap section.home {
    background: #000; }
    .wrap section.home video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -o-object-fit: fill;
      object-fit: fill; }
    .wrap section.home i {
      position: absolute;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: rgba(0, 0, 0, 0.7); }
    .wrap section.home .btn_box {
      display: inline-block;
      position: absolute;
      bottom: 20%;
      left: 50%;
      font-size: 20px;
      margin-left: -50px;
      /*박스 width값 반값집어넣으면대 -로 */ }
      .wrap section.home .btn_box .scroll_icon {
        color: #fff; }
  .wrap section.sub1 .owl-carousel .item {
    height: 10rem;
    background: #ccc;
    padding: 1rem; }
  .wrap section.sub1 .owl-carousel .pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.4em;
    z-index: 10; }
  .wrap section.sub1 .owl-carousel .pagination a {
    display: block;
    height: 20px;
    margin-bottom: 5px;
    color: white;
    position: relative;
    padding: 4px; }
  .wrap section.sub1 .owl-carousel .pagination a.active:after {
    -webkit-box-shadow: inset 0 0 0 5px;
    box-shadow: inset 0 0 0 5px; }
  .wrap section.sub1 .owl-carousel .pagination a .hover-text {
    position: absolute;
    right: 15px;
    top: 7px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-right: 15px; }
  .wrap section.sub1 .owl-carousel .pagination a:hover .hover-text {
    opacity: 1; }
  .wrap section.sub1 .owl-carousel .pagination a:after {
    -webkit-transition: box-shadow 0.5s ease;
    -webkit-transition: -webkit-box-shadow 0.5s ease;
    transition: -webkit-box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    right: 4px;
    bottom: 0; }
  .wrap section.sub1 .owl-carousel .vertical-center p.cta {
    margin-top: 5px; }
  .wrap section.sub3 {
    background: url(../img/sub3_bg.jpg) no-repeat top center;
    background-size: cover; }
    .wrap section.sub3 article.distinction_at {
      background: #fff;
      /* The Fallback */
      background: rgba(255, 255, 255, 0.4);
      padding: 90px 10px; }
  .wrap .footer {
    height: 200px; }
    .wrap .footer .inner {
      position: relative; }
      .wrap .footer .inner p {
        color: #fff;
        font-size: 50px;
        text-align: center;
        padding-top: 30px; }
