@charset "UTF-8";
/*NanumSquare.scss*/
@font-face {
  font-family: "nsL";
  font-display: swap;
  /* auto, block, swap, fallback, optional */
  -webkit-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
  src: url(../fonts/NanumSquareL.woff) format("woff"), url(../fonts/NanumSquareL.ttf) format("truetype"); }

@font-face {
  font-family: "nsR";
  font-display: swap;
  /* auto, block, swap, fallback, optional */
  -webkit-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
  src: url(../fonts/NanumSquareR.woff2) format("woff2"), url(../fonts/NanumSquareR.woff) format("woff"), url(../fonts/NanumSquareR.ttf) format("truetype"); }

@font-face {
  font-family: "nsB";
  font-display: swap;
  /* auto, block, swap, fallback, optional */
  -webkit-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
  src: url(../fonts/NanumSquareB.woff2) format("woff2"), url(../fonts//NanumSquareB.woff) format("woff"), url(../fonts/NanumSquareB.ttf) format("truetype"); }

@font-face {
  font-family: "nsE";
  font-display: swap;
  /* auto, block, swap, fallback, optional */
  -webkit-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
  src: url(../fonts/NanumSquareEB.woff2) format("woff2"), url(../fonts//NanumSquareEB.woff) format("woff"), url(../fonts/NanumSquareEB.ttf) format("truetype"); }

/* Reset CSS
 * --------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none; }

table {
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

strong {
  font-weight: bold; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #f2f2f2; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden; }

html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'nsR', sans-serif, -apple-system;
  font-size: 18px;
  color: white; }

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #fff; }
  .wrap .header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .wrap .header.fixed {
      background-color: #fff;
      background: rgba(0, 0, 0, 0);
      -webkit-box-shadow: 0 2px 5px 0 rgba(125, 125, 125, 0.3);
      box-shadow: 0 2px 5px 0 rgba(125, 125, 125, 0.3); }
    .wrap .header nav.navbar-light .navbar-brand {
      color: #fff; }
    .wrap .header nav.navbar-light .navbar-nav li.active a {
      color: #000; }
    .wrap .header nav.navbar-light .navbar-nav li a {
      font-size: 18px;
      color: #fff; }
  .wrap section.section {
    position: relative;
    overflow: hidden; }
    .wrap section.section .inner {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      margin: 0 auto; }
      .wrap section.section .inner .vertical-center {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 47%;
        -webkit-transform: translateY(-47%);
        -ms-transform: translateY(-47%);
        transform: translateY(-47%); }
        .wrap section.section .inner .vertical-center a:link, .wrap section.section .inner .vertical-center a:visited {
          color: white;
          text-decoration: none;
          font-size: 0.6em; }
        .wrap section.section .inner .vertical-center a:hover {
          text-decoration: underline; }
  .wrap section.home {
    background: #000; }
    .wrap section.home video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -o-object-fit: fill;
      object-fit: fill; }
    .wrap section.home .btn_box {
      display: inline-block;
      position: absolute;
      bottom: 20%;
      left: 50%;
      font-size: 20px;
      margin-left: -50px;
      /*박스 width값 반값집어넣으면대 -로 */ }
      .wrap section.home .btn_box .scroll_icon {
        color: #fff; }
  .wrap section.sub1 {
    background: #3ecc98; }
    .wrap section.sub1 .owl-carousel .item {
      height: 10rem;
      background: #ccc;
      padding: 1rem; }
  .wrap section.sub2 {
    background: #ff7c0a; }
  .wrap section.sub3 {
    background: #47a3d1; }
  .wrap section.sub4 {
    background: #f73656; }
  .wrap .footer {
    background-color: #000;
    height: 200px; }
    .wrap .footer .inner {
      position: relative; }
      .wrap .footer .inner p {
        color: #fff;
        font-size: 50px;
        text-align: center;
        padding-top: 30px; }
