@charset "UTF-8";
/*_placeholder3.scss*/
$get-evt-img-url : "../../../img/event"; // 이벤트 이미지 경로 
$get-evt-img-url2 : "../../../../img/event"; // 이벤트 이미지 경로2

%thumbnail {  
	@include size(70px);
	border:1px solid #ccc;
	@include border-radius(50%) ;
	overflow:hidden;
	img {
		@include size(100%);
	}
}

%dl {
	padding:5px 0 0 3px;
	dt{
		display: inline-block;
		@include font-size(12); 
		color:#666;
	}
	dd{
		display: inline-block;
		margin:0 10px 0 0;
		a {
			color: #000;
			vertical-align: -1px;
		}
	}
}

// [공통] 텍스트 라인 보더 구분자 
%txt_line {
	@include inline-block();
	@include size(auto);
	@include btn_type_son1 (auto, auto, 12px, transparent, $middle-black-color_, $middle-black-color_, 30px); 
	padding:2px 10px 4px;
	vertical-align: middle;
	margin-right: 5px;
	@include breakpoint(small) { padding:2px 5px 1px; vertical-align: top; margin-right: 3px; }
}

// 목록형 탭 ( 고객센터 > FAQ )
%list_tab { 
	$default-color: #aab4bd;
	@include size(100%,auto);
	padding-bottom: 50px;
	@include breakpoint(medium) { padding: 10px; }
	ul {		
		@extend %clearfix;		
		li {
			float: left;
			@include size(19%,auto);
			margin: 0.5%; 
			@include breakpoint(medium) { width:33.3%; margin:0; }
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				@include breakpoint(medium) { border-top:1px solid lighten($default-color, 10%);  }
			}			
			&:nth-child(3), &:nth-child(6) , &:nth-child(9) , &:nth-child(12) , &:nth-child(15), &:nth-child(18)   {
				@include breakpoint(medium) { width:33.4%;border-right:1px solid lighten($default-color, 10%); }
			}
			a {
				display: block;
				@include size(100%,50px);
				padding: 13px 0 15px;
				@include font-size(15);
				word-spacing: -0.8px;
				text-align: center;
				color:$default-color;
				background-color: #FFF;
				border:1px solid lighten($default-color, 10%);
				@include breakpoint(medium) { border-top:0;  border-right: 0; }
				@include breakpoint(small) { height:38px; padding:10px 0; @include font-size(13);}
			}
			a:hover, &.on a {
				background-color: darken($default-color, 10%);
				color:#FFF;
			}
		}
	}
}
// event 컬러세트 믹스인-----------------------------------------------------------//
	@mixin make-colors($val,$color-value) { 
		%event_wrap_dark_#{$val} { 	
			background-color: $color-value;
			color: lighten($color-value, 45%);
			border-color: lighten($color-value, 45%);
			a[class^="btn_"],[class*=" btn_"] {	
				background-color: lighten($color-value, 45%);
				border: 1px solid lighten($color-value,35%);
				span, i {
					color: $color-value;
				}
				&:hover {
					background-color: lighten($color-value, 15%);
					border-color: lighten($color-value, 25%);
				}
			}			
			.tit_line { //인포존 타이틀 라인있는 스타일 
				color: lighten($color-value,35%);
				em { 
					border-top-color: lighten($color-value,35%);
				}
			}
			dl.date dt {
				background-color: lighten($color-value, 45%);
				color: $color-value;
			}
			dl.dl-100 dt {
				i {
					color: lighten($color-value, 45%);
				}
				span {
					color: $color-value;
				}
			}
			section.topzone span.info i {
				border:1px solid lighten($color-value, 45%);
			}
			section.infozone {
				background-color: $color-value;
				div.box {
					h5, dl dd, div.order_box {
						color: lighten($color-value, 45%);
					}
					div.order_box ul {
						border:1px solid lighten($color-value, 45%);
					}
					h5 em {
						border-top:1px solid lighten($color-value, 45%);
					}
				}		
			}
		} 	
		%event_wrap_light_#{$val} { 
			background-color: lighten($color-value, 45%);
			color: $color-value;	
			border-color: $color-value; 
			a[class^="btn_"],[class*=" btn_"] {	
				background-color: $color-value;
				border: 1px solid darken($color-value,5%);
				span, i {
					color: #FFF;
				}
				&:hover {
					background-color: darken($color-value, 15%);
					border-color: darken($color-value, 10%); 
				}
			}	
			.tit_line { //인포존 타이틀 라인있는 스타일 
				color: $color-value;
				 em {
					border-top-color:$color-value;
				}
			}	
			dl.date dt {
				background-color: $color-value;
				color: lighten($color-value, 45%);
			}
			dl.dl-100 dt {
				 i {
					color: $color-value;
				}
				span {
					color: lighten($color-value, 45%);
				}
			}
			section.topzone span.info i {
				border:1px solid lighten($color-value, 5%);
			}
			section.infozone {
				background-color: lighten($color-value, 45%);;
				div.box {
					h5, dl dd, div.order_box {
						color: $color-value;
					}
					div.order_box ul {
						border:1px solid lighten($color-value, 5%);
					}
					h5 em {
						border-top:1px solid $color-value;
					}
				}		
			}
		} 
		%font_color_#{$val} {   
			color:$color-value;//$color-value:폰트컬러속성값
		} 
		%bg_color_#{$val} {
			background-color:$color-value;//$color-value:배경컬러속성값
		} 
		%border_color_#{$val} { 
			border-color:$color-value;//$color-value:border컬러속성값
		} 
		%event_wrap_set_#{$val} { 
			dl {			
				&.dl-100 dt i {
					color: $color-value;
					@include breakpoint(small) { border-top:1px solid lighten($color-value,10%); }
				}
			}	
			section.topzone {
				background-color: $color-value;
				color: #FFF;
				span.info {
					background-color: darken($color-value, 28%);
					color:#FFF;
				}
				span.copy_s1 { 

				}
				h1 {
					em {

					}
				}			
				span.copy_s2 { 
					strong {

					}
				}
				dl.date {
					dt {
						background-color: $color-value;
					}
					dd {

					}
				}
			}	
			section.explainzone {
				div.box1, div.box2 {
					p {
						color:#FFF;
					}
					h4 {
						color:rgba(254, 234, 100, 1);
					}
					div.link_wrap {
						a.btn_go1 {
							background-color: #FFF;
							border:1px solid darken($color-value, 5%);
							cursor: pointer;
							span, i {
								color:$color-value;
							}
							&:hover {
								background-color:lighten($color-value, 20%);
								border-color: lighten($color-value, 5%);
								span, i {
									color: darken($color-value, 15%);
								}
							}
						}
					}				
				}
				div.box1 {
					background-color: $color-value;
					h4 {

					}
				}
				div.box2 {
					background-color:  lighten($color-value, 5%);
					span.icon-point {
						color:rgba(254, 234, 100, 1);
					}
				}
			}
			section.imagezone {
				div.box1 {
					background-color: #FFF;
				}
				div.box2 {
					background-color: #f4f4f4;
				}
			}
			section.infozone {
				div.box {
					h5 {
					}
					dl {
						dt {

						}
						dd {
						}
					}
					div.link_wrap {
						a.btn_go1 {
							cursor: pointer;
							span, i {
							}
						}
					}
					div.order_box {
						ul {
							border:1px solid lighten($color-value,10%);
							li {
								a.btn_lec {
									background-color: $color-value;
									border: 1px solid darken($color-value,5%);
									cursor: pointer;
									span, i {
										color: #FFF;
									}
									&:hover {
										background-color: darken($color-value, 15%);
										border-color: darken($color-value, 10%); 
									}

								}
							}
						}
					}
					div.scroll_wrap {
						table.order_col {
							caption {

							}
							thead {
								tr {
									th{
										&.tit {

										}
									}
								}
							}
							tbody {
								tr {
									td{	
										&.tit {
											span.lec_tit {
												em {
													
												}
											}
											dl.lec_dl {
												dt {

												}
												dd {

												}
											}
										}
										span.mprice3 {
											em {

											}
										}
										span.mprice2 {
											
										}
										span.mprice1 {

										}
									}
								}
							}
						}

					}
				}
			}
		} 
	 }
	@mixin color-list($value-color...) {
	        @each $colors in $value-color {
	          @include make-colors(nth($colors,1),nth($colors,2));
	        }
	}
// -------------------------------------------------------------------------------//

// event 배경이미지 아이콘 -----------------------------------------------------------//

	%icon_bg {	
		@include inline-block();
		background-image: url('#{$get-evt-img-url}/icon_bg.png');
		background-image: url('#{$get-evt-img-url}/icon_bg.svg');
	}

	@mixin sprite-position($row:1, $col:1, $icon-width:100px, $icon-height: 100px) {	
		$sprite-rows: 10;
		$sprite-cols: 1;
		background-position: (-1 * $icon-width * ($col - 1) ) (-1 * $icon-height * ($row - 1));
		background-size: $sprite-cols*$icon-width $sprite-rows*$icon-height;
		@include size($icon-width);	
		&.vertically-centred {
			margin-top: -1 * ($icon-height / 2);
		}
	}

// -------------------------------------------------------------------------------//

//이벤트 오브젝 ----------------------------------------------------------------------//
	//_배경이미지 아이콘 SPAN
	%sangsi_more {  //상시 더보기
		@include text-replacement() ;
		display: block;
		@include size(40px);
		background-image: url("#{$get-evt-img-url2}/icon_sangsi.png");
		background-position: 0 0;
	}
	%knob { //말풍선 상단 화살표
		@include text-replacement() ;
		display: block;
		@include size(30px,14px);
		@include abs-pos(-14px,auto,auto,50%);
		margin-left: -7px;
		z-index: 2;
		background-image: url("#{$get-evt-img-url2}/icon_sangsi.png");
		background-position: -40px 0;
	}

	//_말풍선 DIV
	%explain { //자격증  소개 항목별 내용설명  말풍선
		@include centerer(true,false);
		top:180px;
		@include size(960px,auto);
		padding: 20px 30px;
		@include font-size(15) ;
		text-align: left;
		border-width:4px;
		border-style: solid;
		z-index: 1;
		@media \0screen {
			left:0;
		}
		@include breakpoint(medium) { width: 100%; top:150px; text-shadow:none; }
		@include breakpoint(small) { top:100px; @include font-size(13) ; }
		h6 {
			margin-bottom: 10px;
			@include font-size(20) ;
			font-weight: 600;
			@include breakpoint(small) { @include font-size(15) ; }
		}					
		span.ir_pm { //말풍선 상단 화살표
			@extend %knob;
			left:15%;
			margin-left: -7px;
		}
	}

	// _강사 소개 DIV
	%explain_tc { //상시 강사소개 박스 (width 소개 VOD)
		background-image: url("#{$get-evt-img-url}/tc_sangsi.png"); // 기본 강사 이미지(실루엣)
		background-position:-20px  0 ;				
		background-repeat: no-repeat;
		padding-left: 40%;
		text-align: left;
		@include breakpoint(medium) { background-size:40%;  }
		@include breakpoint(small) { padding: 10px 10px 0; background-position: 130% 0;  }
		h6 {
			margin-top: 40px;
			@include font-size(24) ;
			//@include line-height(19) ;
			letter-spacing: -2px;
			font-weight: 300;
			@include breakpoint(small) {@include font-size(18); }
		}
		p.tc_info {
			@include font-size(13) ;
			white-space: pre-line;
			padding:10px 40px;
		}
		div.video {					
			padding:10px 40px;
			@include breakpoint(small) { padding:10px 0; }
			video {
				@include size(100%,auto);
			}
		}
	}

	//기타 정보성 목록
	%etc {
		ul {
			@include size(93%,auto);
			margin:10px auto 0;
			@include breakpoint(medium) { width: 90%; }
			@include breakpoint(small) { width: 85%; margin-top:5px;}
			li {
				@include size(100%,auto);
				@include font-size(13) ;
				padding:5px 0 7px;
				list-style: inside;
				list-style-image: url('#{$get-img-url2}/examinfo_bullet.png');
				text-align: left;
				@include breakpoint(small) { padding:3px 0; }
			}
		}
	}
	//_3열 소개 목록 UL
	%sangsi_ul { // 상시 자격증 소개 목록
		 li {  	 			
			border-right-width:1px;
			border-right-style: solid;
			&.li3 {					
				border:0;
			}
			span.tit {
				display: block;
				@include size(100%,150px);
				padding-top: 30px;
				@include font-size(20) ;
				letter-spacing: -1.5px;
				@include breakpoint(small) {  height:100px; padding-top: 10px; @include font-size(18); }
				em {
					@include font-size(30) ;
					font-weight: 700;
					letter-spacing: -4px;						
					@include breakpoint(small) { @include font-size(24) ; }
				}
			}			
			div.explain { //자격증  소개 항목별 내용  말풍선
				@extend %explain;
			}
			span.more {  //더보기 배경이미지 아이콘 
				@extend %sangsi_more;
				@include abs-pos(auto,auto,0,33.3%);
				margin-left: -40px;
			}
			&.li2  {
				div.explain span.ir_pm {
					left:50%;
				}
				span.more {
					left:66.6%;
				}
			}				
			&.li3  {
				div.explain span.ir_pm {
					left:auto;
					right:15%;
				}
				span.more {
					left:auto;
					right:0;
				}
			}
		}
	}

	//_수강신청 DIV
	%order_box {
		@include size(100%,auto);
		padding: 0;
		clear:both;			
		@include breakpoint(medium) { padding:0 3px;}
		@include breakpoint(small) { width: 100%;  padding: 0;}
		ul {	
			display: table;
			@include size(100%,auto);
			margin-bottom: 10px;	
			@include breakpoint(medium) { display:block; }	
			li {
				float:none;
				display: table-cell;				
				@include font-size(18);
				padding:20px 0;							
				text-align: center;
				vertical-align: middle;
				@include breakpoint(medium) { @include inline-block(); float: left; }
				span {
					@include inline-block();
					@include size(100%, auto);
					&.mprice3 {
						@include font-size(22);
						em {
							font-weight: 600;
							color:$light-red-color;
						}
					}
					&.mprice1 {					
						@include font-size(15);
						text-decoration: line-through;
						color:$middle-gray-color;
					}
					&.mprice4 {				
						@include font-size(18);
						line-height: 30px;
						em{
							border:1px solid #ccc;
							padding:2px 4px 4px;
							@include font-size(16);
						}
						@include breakpoint(small) {
							@include font-size(14);
							line-height: 24px;
							padding-top: 5px;
							em{
								@include font-size(13);
								padding:1px 3px 3px;
							}
						}
					}
				}
				&.order_tit {
					width:45%;
					text-align: left;
					padding-left:25px;
					@include breakpoint(medium) { width: 100%; padding-left:15px; padding-right:15px; text-align: center; }
					span.lec_tit {				
						@include font-size(30);
						font-weight: 500;
						letter-spacing: -1.5px;
						em {
							font-weight: 800;
						}
						span.eventsubject {
							@include size(auto);
						}
					}
					span.lec_info {				
						@include font-size(13);
						padding:5px 5px 7px;	
						@include breakpoint(small) { padding:5px ; }
					}
				}
				&.order_dc, &.order_price, &.order_period {
					width:17.5%;							
					@include breakpoint(medium) { width: 50%; padding-top: 0; padding-bottom: 0; }
				}
				&.order_period{
					font-size: 13px !important;
				}
				&.order_price {
					span em {
						margin-top: 5px;
					}
				}
				&.order_link {
					width:20%;
					//padding-top: 30px;
					padding-right: 25px;
					@include breakpoint(medium) { width: 100%; padding-right: 0;  }
					a.btn_lec {	
						width:100%;
						padding-left:0;
						padding-right: 0;	
						margin-top: 0;
						cursor: pointer;
						vertical-align: middle;
						@include breakpoint(medium) { width:80%;	}						
						span {
							width: auto;
							font-weight: 600;									
							@include line-height(18) ;
						}
						i {
							padding: 8px 10px 10px;
							@include breakpoint(small) { padding:5px 0  8px 5px; }
						}
					}
				}
			}	
		}
	}
	%order_box_sangsi { // 상시 수강신청 박스
		@extend %order_box;
		ul {
			display: table;
			margin-bottom: 0;						
			@include breakpoint(medium) { display:block; }	
			li {
				float: none;
				display: table-cell;
				vertical-align: middle;
				@include breakpoint(medium) { @include inline-block(); float: left; }
				&.order_lec {
					width: 17.5%;	
					padding-top: 45px;
					@include breakpoint(medium) { width: 100%; padding:10px 0; }
				}						
				&.order_tit {
					width: (45% + 17.5%) ;	
					@include breakpoint(medium) {  width: 100% ; padding: 10px 0 0 ; }														
				}
				&.order_price {
					padding-top: 33px;
					@include breakpoint(medium) {width: 100%; padding:10px 0; white-space: wrap; }
					span {
						@include breakpoint(medium) { @include size(auto); }
					}
				}
				&.order_link {
					padding-top: 35px;
					@include breakpoint(medium) {  padding: 0 0 10px ; }
				}
				span {
					vertical-align: middle;
				}
			}
		}
	}

	//_오브젝트 리스트 DIV 
	%objlist_box { // 상시 교재 안내 리스트
		&.pre ul li {
			filter: grayscale(100%);
			@include opacity(0.5);
		}
		ul li  { 
			padding: 10px 0;
			&.col_span4 {
				@include breakpoint(medium) { width: 33.3%; }
				@include breakpoint(small) { width: 50%; }
			}
			span {
				@include inline-block();
				@include size(100%,auto);
				@include font-size(16);
				text-align: left;
				&.lec_tit {
					margin-top: 10px;
					letter-spacing: -1px;
					@include line-height(10) ;
					span.eventsubject {
						@include size(auto);
					}
				}
				&.lec_info {
					@include font-size(13);
				}
			}
		}
	}

	//_오브젝트 박스 DIV
	%attention_box {
		position: relative;
		border:1px dashed #FFF;
		padding:17px 20px 20px;
		background-color: #ebebeb;
		@include breakpoint(small) { margin-top: 20px; }
		h6 { //잠깐 타이틀 
			$h6_h:35px; //h6의 높이값 변수	
			display: block;
			@include size(100%,$h6_h);
			@include abs-pos(-$h6_h,auto,auto,0);
			@include font-size(18);
			text-align: left;	
			@include breakpoint(small) {  @include font-size(15); letter-spacing: -1px; }		
			span.icon {		
				@include inline-block();
				@include size(auto);	
				margin-top: ($h6_h - 40px);;	
				margin-left:-5px;
				//background-image: url('#{$get-evt-img-url2}/#{$evt_name}/icon_bg.png');
				@include sprite-position(8, 1, 40px, 40px);
				em {
					@include text-replacement();
				}
			}
		}
	}

//이벤트 페이지 템플릿1 플레이스 홀더
	%event_wrap {		
		@include font-size(15) ;
		@include breakpoint(small) {  @include font-size(13) ; }
		&.wrap_1024  { //풀이벤트 페이지가 아닐 때 
			section div.wrap_1024 {
				width: 100%;
			}
		}
		// [공통] 타이틀별 배경이미지 아이콘
		span[class^="icon_"],[class*=" icon_"]  {	
			@include text-replacement() ;
			@include inline-block();
			@include size(40px);			
			background-image: url("#{$get-evt-img-url}/icon_sangsi.png");
			background-repeat: no-repeat;
			vertical-align: middle;
			&.icon_person {							
				background-position: 0 -40px ;			
			}
			&.icon_vod {							
				background-position: -40px -40px ;			
			}
			&.icon_book {							
				background-position: -80px -40px ;			
			}
			&.icon_attention {							
				background-position: -120px -40px ;			
			}
		}	
		// [공통] 레이아웃
		.clearfix {
			@extend %clearfix;
		}
		.f_l {
			float:left;
		}
		.f_r {
			float:right;
		}
		.f_n {
			float: none;
		}
		.t_l {
			text-align: left;
		}
		.t_r {
			text-align: right;
		}
		.t_c {
			text-align: center;
		}
		.m_c {
		margin: 0 auto; 
		}
		.blind {
			@include size(0!important);
		}
		.abs-pos {
			@include abs-pos(0,0,auto,auto);
		}
		// [공통] 과정구분 
		span.eventsubject {
			@extend %txt_line;
			@include size(auto);
			@include font-size(18) ;
			margin-right: 15px;
			margin-top: -5px;
			@include breakpoint(small) { @include font-size(15) ;vertical-align: middle; margin-right:5px; }
		}
		// [공통] 각 영역 타이틀 존
		section.explainzone, section.infozone {
			div.box div.wrap_1024 h4 {
				padding:10px 0 18px;
				@include font-size(30) ;
				font-weight: 700;
				letter-spacing: -3px;
				overflow: hidden;
				@include breakpoint(small) { @include font-size(24); letter-spacing: -2px; padding:15px 0;} 
			}
		}
		// [공통] 기타 , 참고사항 리스트 
		div.etc, div.note_box {
			@extend %etc;
		}
		.etc {
			 @include font-size(12) ; 
			 text-align: left;
			 em {
			 	color: $light-red-color;
			 }
		}
		// [공통]UL 정렬 
		ul {
			@include size(100%,auto);
			@extend %clearfix;
			li {
				float: left;
				@include size(50%,auto);
				&.col_span1 {
					@include size(100%,auto);
				}
				&.col_span2 {
					@include size(50%,auto);
				}				
				&.col_span3 {
					@include size(33.3%,auto);
				}
				&.col_span4 {
					@include size(25%,auto);
				}
			}
			&.rolling_m { //- 모바일에서만 롤링되는 경우
				img {						
					@include breakpoint(small) { width:80%; margin: 0 auto; }
				}
				> li {				
					@include size(50%,auto);
					@include breakpoint(small) { width:100%; }
					&.col_span3 {
						@include size(33.3%auto);
						@include breakpoint(small) { width:100%; }
					}
				}
			}
			&.rolling_w { //- 웹, 모바일 모두 롤링되는 경우
				img {						
					width: auto;
					@include breakpoint(small) { width:80%; margin: 0 auto; }
				}
				> li {				
					@include size(100%,auto);
				}
			}
			&.event_tab { //- 항목 클릭시  자식 셀렉터 보여주기
				> li {
					cursor: pointer;
					.event_tab_div {
						display: none;
					}
					&.on .event_tab_div {
						display: block;
					}
				}
			}
			&.tab li { // - 상시 이벤트  교수진 소개 탭 설정
				.tab1, .tab2, .tab3, .tab4 {
					display: none;
				}
				h4 {
					&.tab1, &.tab2, &.tab3, .tab4 {
						display: block;
					}
				}
				&.on {
					.tab1, .tab2, .tab3, .tab4 {
						display: block;
					}
				}

			}
			&.lSPager.lSpg {
				width: auto;
				margin: 10px auto;
				li {
					float: none;
					width: auto;
				}
			}
		}		
		// [공통] 박스 여백/중앙정렬
		section > div  {
			margin: 0 auto;
			padding:25px;
			&.wrap_1024 {
				padding: 0;
			}
		}
		// [공통] 타이틀 라인있는 스타일
		.tit_line em {
			border-top-width:1px;
			border-top-style: solid;
		}
		// [공통] 통이미지
		img.event_img  {
			margin: 0 auto;
			@include size(auto);
			max-width: 100%;
			@include breakpoint(medium) {  display: none; }
			&_m {		
				display: none;	
				width: 100%;
				@include breakpoint(medium) {  display: block; }
			}
		}
		// [공통] dl dt dd		
		dl {
			dt, dd {				
				@include inline-block();
				@include size(auto);	
			}
			dd {
				margin-left: 0;
			}
			&.dl-right  {
				display: block;
				float: left;
				@include size(770px,auto);
				margin-left: 30px;
				margin-top: 15px;
				@include breakpoint(medium) { width:100%; margin-left: 0; margin-top: 5px; float: none; }				
				dt, dd {
					float: left;
				}
				dt {					
					@include size(70px,auto);	
					padding:5px 5px 7px;
					margin-right: 10px;
					font-weight: 500;				
					@include font-size(15);
					text-align: center;
					color: $middle-gray-color;
					border:1px solid $middle-gray-color;
					@include border-radius(25px) ;
					@include breakpoint(medium) { width: 18%; }
					@include breakpoint(small) { padding:3px 5px; @include font-size(12);}
				}
				dd {
					@include size(680px,auto);		
					padding:5px 5px 20px;			
					@include font-size(18);
					text-align: left;
					letter-spacing: -0.8px;
					@include breakpoint(medium) { width:80%; }	
					@include breakpoint(small) { width:100%; @include font-size(16); }	
					strong {
						font-weight: 700;
						color:$light-red-color;
					}
				}
			}
			&.dl-100 {
				@extend .dl-right;
				display: block;
				float: left;
				@include size(100%,auto);
				margin-left: 0;
				dt, dd {
					float: none;
				}
				dt {						
					@include size(18%,auto);	
					border:0;
					vertical-align: middle;
					position: relative;
					@include breakpoint(small) { width: 100%;  margin-top: 20px; }
					span.icon_bg {
						@extend %icon_bg;	
						vertical-align: middle;
						@include breakpoint(small) { margin: 0 auto; }
					}
					span.abs-pos {
						display: block;
						@include size(100px,auto);	
						top:auto;
						right: auto;
						left:50%;
						bottom:30px;
						text-align: center;
						margin-left: -50px;
						color:#FFF;
						@include breakpoint(small) { 
							width:100%; 
							margin-left: -50%; 
							bottom:40px; 
							@include font-size(24) ;
						}
					}
				}
				dd {
					@include size(80%,auto);	
					@include breakpoint(medium) { width: 80%; }
					@include breakpoint(small) { width: 100%; }
					h6, span {
						em {
							color: $light-red-color;
						}
					}
					h6 {
						@include font-size(18) ;
						@include breakpoint(small) { @include font-size(15) ; }
					}
					span  {
						@include font-size(13) ;
						@include line-height(10);
						white-space: pre-line;
						margin-top: 10px;
					}
				}
			}
		}

		// [공통] 버튼 구조	
		.btn_go1, .btn_lec, .btn_lec {						
			@include inline-block();
			@include size(auto);	
			padding: 10px 40px 12px;	
			@include border-radius(5px) ;					
			@include font-size(18) ;
			margin-top: 10px;
			cursor: pointer;
			@include breakpoint(small) { 
				@include size(100%,auto); 
				padding: 8px 5px ; 
				margin-left:auto; 
				margin-right: auto;
			}
			span {
				font-weight: 600;									
				@include line-height(16) ;
				letter-spacing: -1px;
			}
			i {					
				@include inline-block();
				@include size(30px); 
				padding: 6px 10px 8px;
				vertical-align: middle;
				@include breakpoint(small) {
					@include size(25px); 
					@include font-size(15) ;
					padding: 3px 5px; 
				}
			}
		}
		section.topzone { 
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;		
			@include breakpoint(medium) { background-size: 100% auto ; background-size: cover; }
			//@include breakpoint(small) { background-size: auto 100%; }
			img.titimg {
				margin: 0 auto;
				@include breakpoint(medium) { width: 80%; }
				@include breakpoint(small) { width: 100%; }
			}
			span {		
				@include inline-block();
				@include size(100%,auto);
				letter-spacing: -1.5px;
				margin-top: 30px;
				strong {
					font-weight: 700;
				}
				@include breakpoint(small) { margin-top: 10px; }		
			}
			span.info {
				margin-top: 0;
				text-align: right;
				padding-right: 20px;
				@include line-height(24) ;
				i {
					@include inline-block();
					@include size(25px);
					padding: 3px 5px 3px 1px;
					margin:  7px 10px 10px;
					@include font-size(16); 
					vertical-align: middle;	
					@include border-radius(25px) ;
					border:1px solid #FFF;
					@include breakpoint(small) {  					
						@include size(20px);
						@include font-size(13);  
						margin:  4px 5px 6px;
						padding: 3px 4px 3px 0;
					}	
				}
			}
			span.copy_s1 { //꾸밈 텍스트 스타일1
				@include font-size(24) ;
				@include breakpoint(small) { @include font-size(18); }
			}			
			span.copy_s2 { //꾸밈 텍스트 스타일2 
				@include font-size(20) ;
				white-space: pre-line;	
				@include breakpoint(small) { @include font-size(15); }	
			}
			h1 { // 타이틀 텍스트
				@include inline-block();
				@include size(100%,auto);
				@include font-size(80) ;
				@include line-height(45) ;
				letter-spacing: -5px;
				white-space: pre-line;
				margin-top: 20px;
				@include breakpoint(medium) { @include line-height(30) ; }
				@include breakpoint(small) { @include font-size(45) ; @include line-height(20) ; letter-spacing: -3px;}
				em {
					@include font-size(65);
					@include breakpoint(small) { @include font-size(36); }
				}
				i.icon-text {
					@include inline-block();
					@include size(100%,auto);
					@include font-size(100) ;
					@include line-height(42) ;
					text-align: center;
					@include breakpoint(medium) { @include font-size(80) ; @include line-height(25) ; }
					@include breakpoint(small) { @include font-size(46) ; @include line-height(18) ; }
					span.blind {
						display: none;
					}
				}
			}
			dl.date { // 기간 텍스트
				margin-top: 40px;
				margin-bottom: 15px;
				@include breakpoint(small) { margin-top: 20px; }	
				dt, dd {
					padding: 10px 50px 12px;		
					margin: 0 auto;	
				}
				dt {
					@include border-radius(25px) ;
					@include breakpoint(small) { @include inline-block();  @include font-size(12) ;padding: 5px 10px;}
				}
				dd {
					width: 100%;
					@include font-size(24) ;
					@include breakpoint(small) { @include inline-block(); padding:8px 0; @include font-size(16); }	
				}
			}
		}	
		section.explainzone {
			div.box1, div.box2 {
				p {
					white-space: pre-line;
					@include breakpoint(small) { white-space:normal; }
				}
				h4 {						
					@include inline-block();
					@include size(100%,auto);	
					padding:10px 0 12px;		
					@include font-size(20) ;
					font-weight: 700;
					@include breakpoint(small) { @include font-size(18) ;}
				}
				div.link_wrap {
					a.btn_go1 {
					}
				}				
			}
			div.box1 {
				h4 {

				}
			}
			div.box2 {
				div.wrap_1024 > p {
					position: relative;
					@include size(45%,auto);
					margin: 0 auto;
					@include breakpoint(madium) { width:70%; }
					@include breakpoint(small) { width:100%; }
					span.icon-point {
						display: block;
						@include size(70px);	
						@include abs-pos(-40px,auto,auto,0);
						padding-top: 22px;
						@include border-radius(50%) ;
						background-color: $middle-black-color;					
						@include breakpoint(small) { @include size(40px); padding-top: 8px; top:-45px; }
					}
				}
			}
		}
		section.infozone {  // 혜택 /  수강신청 
			background-color: #FFF;
			div.box {
				@include size(95%,auto);
				margin: 0 auto;
				padding-right: 0;
				padding-left: 0;
				@extend %clearfix;
				> div.wrap_1024 {
					position: relative;
				}
				h5 {
					display: block;
					float: left;
					@include size(150px,auto);
					padding:15px 0 17px;			
					@include font-size(24);
					letter-spacing: -2px;
					text-align: left;	
					color: $middle-black-color;
					@include breakpoint(medium) { float: none; }
					@include breakpoint(small) {  @include font-size(20); padding:15px 0; }
					em {
						padding-top: 15px;
						@include breakpoint(small) {  padding-top:8px; }
					}
				}
				div.link_wrap { //강의안내사항
					@include abs-pos(0,0,auto,auto);
					@include breakpoint(small) { top: -5px; }
					a.btn_go1 {
						padding: 3px 15px 5px;
						cursor: pointer;
						background-color:  #FFF;
						border: 1px solid lighten($middle-gray-color, 5%);
						@include breakpoint(small) { width: 100%; }
						span, i {
							color: $middle-gray-color;
						}
						&:hover {
							border-color: darken($middle-gray-color, 5%);
							span, i {
								color:darken($middle-gray-color, 10%);
							}
						}
						span {
							@include font-size(13) ;	
						}
						i {
							@include font-size(12) ;
							padding: 10px 0 12px 8px;
							@include breakpoint(small) { padding: 6px 0 6px 8px; }
						}
					}
				}
				div.order_box {
					@extend %order_box;
				}
			}
		}
		section.imagezone {
			div {
				padding: 0;
				div.wrap_1024 {	
				}
			}
		}
	}
//이벤트 페이지 템플릿2 플레이스 홀더
	%event_wrap_tmp2 {
		@include font-size(15) ;
		@include breakpoint(small) {  @include font-size(13) ; }
		&.wrap_1024  { //풀이벤트 페이지가 아닐 때 
			section div.wrap_1024 {
				width: 100%;
			}
		}
		// [공통] 타이틀별 배경이미지 아이콘
		span[class^="icon_"],[class*=" icon_"]  {	
			@include text-replacement() ;
			@include inline-block();
			@include size(40px);			
			background-image: url("#{$get-evt-img-url}/icon_sangsi.png");
			background-repeat: no-repeat;
			vertical-align: middle;
			&.icon_person {							
				background-position: 0 -40px ;			
			}
			&.icon_vod {							
				background-position: -40px -40px ;			
			}
			&.icon_book {							
				background-position: -80px -40px ;			
			}
			&.icon_attention {							
				background-position: -120px -40px ;			
			}
		}	
		// [공통] 레이아웃
		.clearfix {
			@extend %clearfix;
		}
		.f_l {
			float:left;
		}
		.f_r {
			float:right;
		}
		.f_n {
			float: none;
		}
		.t_l {
			text-align: left;
		}
		.t_r {
			text-align: right;
		}
		.t_c {
			text-align: center;
		}
		.m_c {
			margin: 0 auto; 
		}
		.blind {
			@include size(0!important);
		}
		.abs-pos {
			@include abs-pos(0,0,auto,auto);
		}
		// [공통] 과정구분 
		span.eventsubject {
			@extend %txt_line;
			@include size(auto);
			@include font-size(18) ;
			margin-right: 15px;
			margin-top: -5px;
			@include breakpoint(small) { @include font-size(15) ;vertical-align: middle; margin-right:5px; }
		}
		// [공통] 각 영역 타이틀 존
		.h_title {
			padding:10px 0 18px;
			@include font-size(32) ;
			font-weight: 700;
			letter-spacing: -3px;
			overflow: hidden;
			@include breakpoint(medium) { @include font-size(28); letter-spacing: -2.4px; padding:18px 0;} 
			@include breakpoint(small) { @include font-size(24); letter-spacing: -2px; padding:15px 0;} 
		}		
		// [공통] 타이틀 라인있는 스타일
		.h_line {	
			@extend .h_title;		
			em {
				border-top-width:1px;
				border-top-style: solid;
			}	
		}
		// [공통] 기타 , 참고사항 리스트 
		div.etc, div.note_box {
			@extend %etc;
		}
		.etc {
			 @include font-size(12) ; 
			 text-align: left;
			 em {
			 	color: $light-red-color;
			 }
		}
		// [공통]UL 정렬 
		ul.ul_form {
			@include size(100%,auto);
			@extend %clearfix;
			li {
				float: left;
				@include size(50%,auto);
				&.col_span1 {
					@include size(100%,auto);
				}
				&.col_span2 {
					@include size(50%,auto);
				}				
				&.col_span3 {
					@include size(33.3%,auto);
				}
				&.col_span4 {
					@include size(25%,auto);
				}
			}
		}
		ul {
			@include size(100%,auto);
			@extend %clearfix;
			&.rolling_m { //- 모바일에서만 롤링되는 경우
				img {						
					@include breakpoint(small) { width:80%; margin: 0 auto; }
				}
				> li {				
					float: left;
					@include size(50%,auto);
					@include breakpoint(small) { width:100%; }
					&.col_span3 {
						@include size(33.3%auto);
						@include breakpoint(small) { width:100%; }
					}
				}
			}
			&.rolling_w { //- 웹, 모바일 모두 롤링되는 경우
				img {						
					width: auto;
					@include breakpoint(small) { width:80%; margin: 0 auto; }
				}
				> li {	
					float: left;			
					@include size(100%,auto);
				}
			}
			&.event_tab { //- 항목 클릭시  자식 셀렉터 보여주기
				> li {
					float: left;
					cursor: pointer;
					.event_tab_div {
						display: none;
					}
					&.on .event_tab_div {
						display: block;
					}
				}
			}
			&.tab li { // - 상시 이벤트  교수진 소개 탭 설정
				float: left;
				.tab1, .tab2, .tab3, .tab4 {
					display: none;
				}
				h4 {
					&.tab1, &.tab2, &.tab3, .tab4 {
						display: block;
					}
				}
				&.on {
					.tab1, .tab2, .tab3, .tab4 {
						display: block;
					}
				}

			}
			&.lSPager.lSpg {
				width: auto;
				margin: 10px auto;
				li {
					float: none;
					width: auto;
				}
			}
		}		
		// [공통] 박스 여백/중앙정렬
		section > div  {
			margin: 0 auto;
			padding:25px;
			&.wrap_1024 {
				padding: 0;
			}
		}
		// [공통] 통이미지
		img.event_img  {
			margin: 0 auto;
			@include size(auto);
			max-width: 100%;
			@include breakpoint(medium) {  display: none; }
			&_m {		
				display: none;	
				width: 100%;
				@include breakpoint(medium) {  display: block; }
			}
		}
		// [공통] dl dt dd		
		dl {
			dt, dd {				
				@include inline-block();
				@include size(auto);	
			}
			dd {
				margin-left: 0;
			}
			&.dl-right  {
				display: block;
				float: left;
				@include size(770px,auto);
				margin-left: 30px;
				margin-top: 15px;
				@include breakpoint(medium) { width:100%; margin-left: 0; margin-top: 5px; float: none; }				
				dt, dd {
					float: left;
				}
				dt {					
					@include size(70px,auto);	
					padding:5px 5px 7px;
					margin-right: 10px;
					font-weight: 500;				
					@include font-size(15);
					text-align: center;
					color: $middle-gray-color;
					border:1px solid $middle-gray-color;
					@include border-radius(25px) ;
					@include breakpoint(medium) { width: 18%; }
					@include breakpoint(small) { padding:3px 5px; @include font-size(12);}
				}
				dd {
					@include size(680px,auto);		
					padding:5px 5px 20px;			
					@include font-size(18);
					text-align: left;
					letter-spacing: -0.8px;
					@include breakpoint(medium) { width:80%; }	
					@include breakpoint(small) { width:100%; @include font-size(16); }	
					strong {
						font-weight: 700;
						color:$light-red-color;
					}
				}
			}
			&.dl-100 {
				@extend .dl-right;
				display: block;
				float: left;
				@include size(100%,auto);
				margin-left: 0;
				dt, dd {
					float: none;
				}
				dt {						
					@include size(18%,auto);	
					border:0;
					vertical-align: middle;
					position: relative;
					@include breakpoint(small) { width: 100%;  margin-top: 20px; }
					span.icon_bg {
						@extend %icon_bg;	
						vertical-align: middle;
						@include breakpoint(small) { margin: 0 auto; }
					}
					span.abs-pos {
						display: block;
						@include size(100px,auto);	
						top:auto;
						right: auto;
						left:50%;
						bottom:30px;
						text-align: center;
						margin-left: -50px;
						color:#FFF;
						@include breakpoint(small) { 
							width:100%; 
							margin-left: -50%; 
							bottom:40px; 
							@include font-size(24) ;
						}
					}
				}
				dd {
					@include size(80%,auto);	
					@include breakpoint(medium) { width: 80%; }
					@include breakpoint(small) { width: 100%; }
					h6, span {
						em {
							color: $light-red-color;
						}
					}
					h6 {
						@include font-size(18) ;
						@include breakpoint(small) { @include font-size(15) ; }
					}
					span  {
						@include font-size(13) ;
						@include line-height(10);
						white-space: pre-line;
						margin-top: 10px;
					}
				}
			}
		}

		// [공통] 버튼 구조	
		.btn_go1, .btn_lec, .btn_lec {						
			@include inline-block();
			@include size(auto);	
			padding: 10px 40px 12px;	
			@include border-radius(5px) ;					
			@include font-size(18) ;
			margin-top: 10px;
			cursor: pointer;
			@include breakpoint(small) { 
				@include size(100%,auto); 
				padding: 8px 5px ; 
				margin-left:auto; 
				margin-right: auto;
			}
			span {
				font-weight: 600;									
				@include line-height(16) ;
				letter-spacing: -1px;
			}
			i {					
				@include inline-block();
				@include size(30px); 
				padding: 6px 10px 8px;
				vertical-align: middle;
				@include breakpoint(small) {
					@include size(25px); 
					@include font-size(15) ;
					padding: 3px 5px; 
				}
			}
		}
		// [공통] 혜택 /  수강신청 
		%infozone {  
			background-color: #FFF;
			div.box {
				@include size(95%,auto);
				margin: 0 auto;
				padding-right: 0;
				padding-left: 0;
				@extend %clearfix;
				div.wrap_1024 {
					position: relative;
					h5 {
						display: block;
						float: left;
						@include size(150px,auto);
						padding:15px 0 17px;			
						@include font-size(24);
						letter-spacing: -2px;
						text-align: left;	
						color: $middle-black-color;
						@include breakpoint(medium) { float: none; }
						@include breakpoint(small) {  @include font-size(20); padding:15px 0; }
						em {
							padding-top: 15px;
							@include breakpoint(small) {  padding-top:8px; }
						}
					}
					div.link_wrap { //강의안내사항
						@include abs-pos(0,0,auto,auto);
						@include breakpoint(small) { top: -5px; }
						a.btn_go1 {
							padding: 3px 15px 5px;
							cursor: pointer;
							background-color:  #FFF;
							border: 1px solid lighten($middle-gray-color, 5%);
							@include breakpoint(small) { width: 100%; }
							span, i {
								color: $middle-gray-color;
							}
							&:hover {
								border-color: darken($middle-gray-color, 5%);
								span, i {
									color:darken($middle-gray-color, 10%);
								}
							}
							span {
								@include font-size(13) ;	
							}
							i {
								@include font-size(12) ;
								padding: 10px 0 12px 8px;
								@include breakpoint(small) { padding: 6px 0 6px 8px; }
							}
						}
					}
					div.order_box {
						@extend %order_box;
					}					
				}
			}
		}
	}
//상시 이벤트 템플릿
	%event_sangsi_wrap {			
		// 강사 소개 박스
		div.explain_tc {
			@extend %explain_tc;
		}
		// 기타/안내 박스
		div.etc, div.note_box {
			ul li {
				float: none;
			}
		}
		section.explainzone {
			div.box {
				padding: 0;
				position: relative;		
			}			
			ul {
				&.sangsi_ul {
					margin-top: 20px;
					position: relative;
					@include breakpoint(small) { margin-top: 10px; }
				}
				&.sangsi_tc_ul {
					margin-top: 60px;
					@include breakpoint(small) { margin-top: 30px; }
				}
			}
			ul.sangsi_ul {  //자격증 소개 영역
				@extend %sangsi_ul;	
			}
			ul.sangsi_tc_ul li  { //강사 소개
				h4 {					
					@include abs-pos(60px,auto,auto,0);
					@include size(50%,auto);
					@include breakpoint(small) { top:30px; }
					&.tab2 {
						left:auto;
						right: 0;
					}
					&:hover {
						cursor:pointer;
					}
				}
				&.on {
					div.explain_tc {
						display: block;
						margin-top: 100px;
						@include breakpoint(small) { background-size: 60%; background-position: top right;}
					}
				}
			}
		}
		section.infozone {
			div.box {
				@include size(100%,auto);
				div.order_box {
					@extend %order_box_sangsi;
				}			
				div.link_wrap a.btn_book {
					@include inline-block();
					@include size(auto);	
					padding: 24px 67px;	
					cursor: pointer;
					border:0;	
					background-image: url("#{$get-evt-img-url2}/btnbg_sangsi.png");
					background-repeat: no-repeat;
					background-size: 100%;
					@include breakpoint(small) { 
						padding: 20px 20px; 
						background-size: auto 100%; 
						vertical-align: middle; 
						margin-top: 6px; 
					}
				}
				div.book_box, div.note_box {
					padding:0 5%;
					h5 {
						@include size(100%,auto);
						margin-top: 30px;
						@include breakpoint(small) { margin-top: 10px; }
					}
				}
				//교재 안내 리스트
				div.book_box {
					@extend %objlist_box;
				}				
			}
		}
	}

%event_wrap_center {
	section > div  { 
		text-align: center;
	}
}

%event_wrap_default {
	// [공통]UL 정렬 
	ul li {
			float: none;
			width:100%;		
	}
}

