@charset 'utf-8';

// Color Custom For Gia

$black:    #111111 !default;
$navy:    #003b88 !default;
$blue:    #0c4da2 !default;
$sky:    #6cc2f3 !default;
$beige:    #d2a16d !default;
$beige-100:    #f3efeb !default;
$pink:    #ff0057 !default;
$yellow:  #ffd74a !default;

$gray-100: #eceae7 !default;
$gray-200: #eeeeee !default;

