@charset 'utf-8';

//NanumSquare
@import 'NanumSquare';
@import 'reset';

//bootstrap Custom variables
@import 'custom';
@import "../bootstrap/scss/bootstrap";
@import 'mixins';

//크롬과 파이어폭스 브라우저에서 글자에 안티앨리어싱이 적용
html {
	-webkit-text-size-adjust: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
//크롬나눔고딕깨지는현상보정
body {
	font-family: 'nsR', sans-serif, -apple-system;
	font-size: 18px;
	color: $white;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: $white;
	
	header {
		&.header {
			position: fixed;
			width: 100%;
			z-index: 999;
			background: $white;
			//@include opacity-bg(#fff, 0.9);
			padding: 0;
			box-shadow: 1px 1px 20px rgba(1,1,1,0.1);
			//border-bottom: 1px solid #fff;
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
			.logo {
				display: block;
			}
			.logo_s {
				display: none;
			}
			nav {
				width: 100%;
				&.navbar {
					.navbar-brand {
						img{ 
							@include breakpoint(medium) {
								width: 74px;
							}
						}
					}
					.navbar-collapse {
						float: right;
						@include breakpoint(large) {
							width:100%;
						}
						@media (min-width:768px) {
							display: block!important;
					   }
						.navbar-nav {
							float:right;
							@include breakpoint(medium) {
								width:100%;
								padding-left:0;
							}
							li {
								position: relative;
								margin: 0 20px 0 0;
								@include breakpoint(medium) {
									border-bottom: 1px solid rgba(255,255,255,0.1);
								}
								a {
									color: $black;
									@include font-size(16);
									font-family: 'nsB';
									@media (min-width:768px) and (max-width:1060px) {
										@include font-size(14);
									}
									@include breakpoint(large) {
										@include font-size(14);
									}
									@include breakpoint(medium) {
										padding: 2% 0;
									}
									@include breakpoint(small) {
										padding: 4% 0;
									}
									i {
										position: absolute;
										bottom: 0;
										left: 0;
										width: 0%;
										-webkit-transition: all 0.5s;
										-o-transition: all 0.5s;
										transition: all 0.5s;
									}
									&.nav-link {
										padding-right: .2rem;
										padding-left: .1rem;
									}
									&:hover {
										i {
											@include inline-block();
											background: $black;
											width: 100%;
											height: 2px;
											-webkit-transition: all 0.5s;
											-o-transition: all 0.5s;
											transition: all 0.5s;
										}
									}
									span {
										color: $gray-600;
										@include font-size(12);
										font-family: 'nsR';
										margin-left: 10px;
										@media (min-width:768px) and (max-width:1010px) {
											display: none;
										}
									}
								}
								&.active {
									a {
										i {
											@include inline-block();
											background: $black;
											width: 100%;
											height: 2px;
											-webkit-transition: all 0.5s;
											-o-transition: all 0.5s;
											transition: all 0.5s;
										}
									}
								}
							}
						}
					}
					div.down_box {
						text-align: right;
						float:right;
						@include breakpoint(medium) {
							margin: 1% 0 0;
							width:100%;
						}
						@include breakpoint(small) {
							margin: 2% 0;
						}
						a.down_btn {
							//color: $gray-600;
							@include font-size(11);
							@include border-radius(4px);
							@include inline-block();
							color: rgba(255,255,255,0.5);
							border: 1px solid rgba(255,255,255,0.3);
							padding: 9px 10px;
							text-decoration: none;
							-webkit-transition: all 0.3s;
							-o-transition: all 0.3s;
							transition: all 0.3s;
							&.bg1 {
								width: 115px;
								background: url(../img/hd_icon01.png) no-repeat 9px 45%;
							}
							&.bg2 {
								width: 125px;
								background: url(../img/hd_icon02.png) no-repeat 10px 45%;
							}
							&:hover {
								color: rgba(255,255,255,0.7);
								border: 1px solid rgba(255,255,255,0.5);
								-webkit-transition: all 0.3s;
								-o-transition: all 0.3s;
								transition: all 0.3s;
							}
							@include breakpoint(medium) {
								color: rgba(255,255,255,0.6);
								border: 1px solid rgba(255,255,255,0.5);
							}
							span {
								//padding-left: 25px;
							}
						}
					}
	
				}
			}

			//$color: #f7f3e8;
			$size: 25px;
			$weight: 2px;
			$speed: 0.33s;
			$easing: cubic-bezier(1,.22,.35,1.4); // http://cubic-bezier.com/#1,.22,.35,1.4
			$effect: 135deg; // Choose either 45deg, 135deg, 225deg or 315deg for different effects
			.navbar-toggler {
				//@include opacity-bg(#111, 0.1);
				//border: 1px solid rgba(255,255,255,0.5);
				padding: .1rem;
				margin-top: -3px;
				outline:none;
				//select-dummy: expression(this.hideFocus=true);
				.navbar-toggler-icon {
					height: calc(#{$size} - #{$weight});
					width: $size;
					position: relative;
					i,
					&::after,
					&::before {
						display: block;
						width: 100%;
						height: $weight;
						background: $gray-100;
						position: absolute;
						transition: $speed $easing;
					}
					i {
						top: calc((#{$size} - #{$weight} * 2) / 2);
						width: calc(#{$size} - 6px);
					}
					&:before {
					content: "";
					top: 1px;
					}
					&:after {
					content: "";
					top: calc(#{$size} - 5px);
					}
				}
			}
			.toggler_active {
				.navbar-toggler-icon {
					i {
						display: none;
					}
					&:after,
					&:before {
					  top: calc((#{$size} - #{$weight} * 2) / 2);
					}
					&:after {
					  transform: rotate($effect);
					}
					&:before {
					  transform: rotate(-$effect);
					}
					span {
					  width: 0;
					}
				}
			}
		}
		&.fixed{
			background: none;
			border: none;
			padding: 0;
			background: $indigo;
			//@include opacity-bg(#fff, 0.1);
			border-bottom: 1px solid rgba(255,255,255,0.1);
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
			.logo {
				display: none;
			}
			.logo_s {
				display: block;
			}
			nav.navbar {
				.navbar-collapse {
					.navbar-nav {
						li {
							&.nav-item  {
								.nav-link {
									color: $white;
									span {
										color: $gray-200;
									}
									&:hover {
										i {
											background: $white;
										}
									}
								}
							}
							&.active {
								.nav-link {
									i {
										background: $white;
									}
								}
							}
						}
					}
				}
			}
			@include breakpoint(large) {
				padding: 0;
				@include opacity-bg(#fff, 0.2);
			}
		}
	}//header
	
	section {
		//공통
		h2.tt_blind {
			display: none;
		}
		&.section {
			@include breakpoint(laptop) {
				width: 100%;
			}
		}
		.inner {
			text-align: center;
			width: 1200px;
			padding: 75px 10px;
			margin: 0 auto;
			@include breakpoint(laptop) {
				width: 100%;
				padding: 75px 2%;
			}
			@include breakpoint(large) {
				width: 100%;
			}
			@include breakpoint(medium) {
				padding: 75px 5%;
			}
			.tit_wrap {
				i {
					@include inline-block();
					width: 2px;
					height: 55px;
					@include breakpoint(medium) {
						height: 30px;
					}
				}
				.en_tt {
					@include font-size(18);
					margin-top:40px;
					font-family: 'nsB';
					text-transform: uppercase;
					@include breakpoint(medium) {
						margin-top:2%;
					}
				}
				.ex_txt {
					color: $gray-600;
					@include font-size(34);
					margin-top:40px;
					font-family: 'nsL';
					letter-spacing: -0.5px;
					word-break: keep-all;
					@include breakpoint(large) {
						margin-top:20px;
						@include font-size(20);
					}
					@include breakpoint(medium) {
						display: none;
					}
				}
			}
			article {
				margin-top: 70px;
				@include breakpoint(large) {
					margin-top:40px;
				}
			}
		}

		//home
		&.home {
			background: $black;
			.carousel {
				height: 100%;
				.carousel-inner {
					height: 100%;
					div {
						height: 100%;
						div.bg_area {
							width: 100%;
							transition: transform 2.5s ease-out;
							background-size: cover;
							background-position: 50% 50%;
							background-repeat: repeat;
							-ms-transform: scale(1.2, 1.2);
							-webkit-transform: scale(1.2, 1.2);
							transform: scale(1.2);
							&.bg1 {
								background-image: url(../img/bg1.jpg);
							}
							&.bg2 {
								background-image: url(../img/bg2.jpg);
							}
							&.bg3 {
								background-image: url(../img/bg3.jpg);
							}
							@include breakpoint(medium) {
								&.bg1 {
									background-position: 63% 20%;
								}
								&.bg2 {
									background-position: 65% 20%;
								}
								&.bg3 {
									background-position: 68% 20%;
								}
							}
						}
						&.active {
							div.bg_area {
								//-ms-transform: scale(1, 1) rotate(.001deg);
								//-webkit-transform: scale(1, 1) rotate(.001deg);
								//transform: scale(1) rotate(.001deg);
								//-webkit-transition: transform 5s ease-out;
								//transition: transform 5s ease-out;
								//-webkit-transition-delay: 0s;
								//transition-delay: 0s;
								-ms-animation: main_bg 7s ease-out;
								-webkit-animation: main_bg 7s ease-out;
								animation: main_bg 7s ease-out;
								animation-fill-mode: forwards;
							}
						}
						@keyframes main_bg {
							0% {
								-ms-transform: scale(1.2, 1.2);
								-webkit-transform: scale(1.2, 1.2);
								transform: scale(1.2);
							}
							100% {
								-ms-transform: scale(1, 1);
								-webkit-transform: scale(1, 1);
								transform: scale(1);
							}
						}
						.carousel-caption {
							position: relative;
							text-align: left;
							word-break: keep-all;
							bottom: 10%;
							-webkit-transform: translateY(-45%);
							-ms-transform: translateY(-45%);
							transform: translateY(-45%);
							@include breakpoint(laptop) {
								left: 10%;
								width: 90%;
							}
							@include breakpoint(large) {
								left: 5%;
								width: 95%;
							}
							h3 {
								@include font-size(58);
								color: $white;
								font-family: 'nsB';
								letter-spacing: -1px;
								@include breakpoint(laptop) {
									@include font-size(50);
								}
								@include breakpoint(large) {
									@include font-size(46);
								}
								@include breakpoint(medium) {
									@include font-size(42);
									word-break: keep-all;
								}
								@include breakpoint(small) {
									@include font-size(36);
								}
								@include breakpoint(tiny) {
									@include font-size(32);
								}
								span {
									color: $beige;
								}
							}
							p {
								@include font-size(20);
								@include line-height(15);
								color: $white;
								margin-top: 1%;
								font-family: 'nsL';
								@include breakpoint(large) {
									@include font-size(16);
									@include line-height(11);
									margin-top: 3%;
								}
								@include breakpoint(medium) {
									@include font-size(15);
									@include line-height(10);
									font-family: 'nsR';
									margin-top:5%;
									width: 86%;
									br {
										display: none;
									}
								}
								@include breakpoint(small) {
									width: 90%;
									@include font-size(14);
									@include line-height(10);
								}
							}
						}
					}
				}
				.car_btn_wrap {
					position: absolute;
					top: 74%;
					left: 15%;
					width: 85%;
					z-index: 99;
					@include breakpoint(laptop) {
						left: 10%;
						top: 73%;
						width: 90%;
					}
					@include breakpoint(large) {
						left: 5%;
						top: 82%;
						width: 95%;
					}
					@include breakpoint(medium) {
						top: 67%;
					}
					@include breakpoint(small) {
						top: 82%;
					}
					@include breakpoint(tiny) {
						top: 88%;
					}
					.carousel-control-prev {
						width: 50px;
						height: 50px;
						border: 1px solid #fff;
						@include breakpoint(medium) {
							display: none;
						}
					}
					.carousel-control-next {
						left: 0;
						margin-left: 53px;
						width: 50px;
						height: 50px;
						border: 1px solid #fff;
						@include breakpoint(medium) {
							display: none;
						}
					}
					.carousel-indicators {
						top: 40px;
						right: 0;
						left: none;
						justify-content: flex-end;
						@include breakpoint(medium) {
							justify-content: flex-start;
							left: 0;
							right: none;
							margin-top: 0;
							margin-left: 0;
							padding-left: 0;
						}
						li {
							width: 5px;
							height: 5px;
							border-radius: 100px;
							background: $gray-500;
							border:2px solid $gray-500;
							margin: 0 5px;
							&.active {
								margin-top:-1px;
								background: transparent;
								border:3px solid #fff;
							}
							&:hover {
								@include opacity(0.7);
							}
						}
					}
				}
			}
			/*video {
				position: relative;
				width:100%;
				height:100%;
				top:0;
				left:0;
				object-fit:fill;
				i {
					position: absolute;
					@include inline-block();
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					@include opacity-bg(#111, 0.4);
				}
			}*/
			.btn_box{
				display:inline-block;
				position:absolute;
				bottom:3%;
				left:50%;
				animation: 0.6s balloon ease-in-out infinite alternate;
				margin-left: -63px;
				width: 126px;
				z-index: 999;
				@include opacity-bg(#fff, 0.1);
				@include font-size(12);
				text-align: center;
				padding: 5px 10px 7px;
				z-index: 99;
				text-transform: uppercase;
				@include border-radius(50px);
				@include breakpoint(small) {
					@include font-size(11);
					display: block;
					font-family: 'nsB';
				}
				@keyframes balloon {
					0% {
						margin-bottom: 50px; 
					}
					100% {
						margin-bottom: 55px;
					}
				}
				a {
					color: $gray-600;
					text-decoration: none;
				}
				.scroll_icon{
					color:#fff;
				}
			}
		}

		//sub1
		&.sub1{
			background: $gray-900;
			@include clearfix;
			min-height: 900px;
			@include breakpoint(medium) {
				min-height: auto;
			}
			.inner {
				.tit_wrap {
					i {
						background: $pink;
					}
					.en_tt {
						color: $pink;
					}
				}
				.owl-carousel {
					div {
						height: 100%;
						position: relative;
						cursor: pointer;
						&.item {
							width: 100%;
							&:hover {
								.face1{
									background: $pink;
									transform: translateY(0);
									.content{
										@include opacity(1);
									}
								}
								.face2{
									transform: translateY(0);
								}
							}
							@include breakpoint(medium) {
								height: auto;
							}
						}
						.face {
							height: 200px;
							transition: 0.5s;
							padding: 25px;
							text-align: center;
							&.face1{
								position: relative;
								background: $gray-900;
								display: flex;
								justify-content: center;
								align-items: center;
								z-index: 1;
								transform: translateY(100px);
								@include breakpoint(medium) {
									background: $pink;
									transform: translateY(0);
								}
								.content{
									@include opacity(0.2);
									transition: 0.5s;
									@include breakpoint(medium) {
										@include opacity(1);
									}
									img{
										@include inline-block();
										max-width: 100px;
									}
									h3 {
										color: $white;
										@include font-size(26);
										font-family: 'nsB';
										letter-spacing: -1px;
										margin-top: 12px;
										span {
											@include font-size(12);
										}
										@include breakpoint(medium) {
											@include font-size(20);
											word-break: keep-all;
										}
									}
								}
							}
							&.face2{
								position: relative;
								background: #fff;
								display: flex;
								justify-content: center;
								align-items: center;
								padding: 20px;
								box-sizing: border-box;
								box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
								transform: translateY(-100px);
								@include breakpoint(medium) {
									transform: translateY(0);
								}
								.content {
									p {
										margin-top:10px;
										text-align: left;
										color: $gray-800;
										@include font-size(14);
										@include line-height(13);
										letter-spacing: -0.5px;
										@include breakpoint(medium) {
											@include font-size(14);
											word-break: keep-all;
											text-align: left;
											br {
												display: none;
											}
										}
										@include breakpoint(small) {
											@include line-height(11);
										}
										mark {
											color: $gray-800;
											background: linear-gradient(rgba(255,255,255,0) 50%, rgba(255,0,87,0.1) 50%);
											font-family: 'nsB';
										}
										em {
											@include font-size(12);
											@include line-height(8);
											margin-top:5px;
											display: block;
											color: $gray-500;
										}
										a {
											@include font-size(14);
											color: $pink;
											font-family: 'nsR';
										}
									}
			
								}
							}
						}
					}
					.owl-nav {
						position: absolute;
						width: 100%;
						top: 50%;
						left: 0;
						margin-top: -50px;
						height: 90px;
						@include breakpoint(small) {
							margin-top: -45px;
							@include opacity(0.3);
						}
						.owl-prev {
							background: rgba(1,1,1,0.2) url(../img/arrow_thin_l.png) no-repeat 40% 46%;
							float: left;
							width: 35px;
							height: 90px;
							border-radius: 0;
							margin: 0;
							outline:none;
							@include breakpoint(medium) {
								background: rgba(1,1,1,0.8) url(../img/arrow_thin_l.png) no-repeat 40% 46%;
							}
							@include breakpoint(small) {
								width: 25px;
								height: 54px;
								background-size: 10px;
							}
							&:hover {
								@include opacity(0.6);
							}
						}
						.owl-next {
							background: rgba(1,1,1,0.2) url(../img/arrow_thin_r.png) no-repeat 55% 46%;
							float: right;
							width: 35px;
							height: 90px;
							border-radius: 0;
							margin: 0;
							outline:none;
							@include breakpoint(medium) {
								background: rgba(1,1,1,0.8) url(../img/arrow_thin_r.png) no-repeat 55% 46%;
							}
							@include breakpoint(small) {
								width: 25px;
								height: 54px;
								background-size: 10px;
							}
							&:hover {
								@include opacity(0.6);
							}
						}
						span {
							display: none;
						}
					}
					.owl-dots {
						display: none;
					}
				}
			}
		}
		
		//sub2
		&.sub2{
			background: $white;
			.inner {
				.tit_wrap {
					i {
						background: $beige;
					}
					.en_tt {
						color: $beige;
					}
				}
				article.course_at {
					height: 430px;
					overflow-y: auto;
					overflow-x: hidden;
					scrollbar-track-color: #111;
					scrollbar-arrow-color: #d2a16d;
					scrollbar-face-color: #303030;
					//scrollbar-darkshadow-color: #111;
					//scrollbar-highlight-color: #111;
					scrollbar-shadow-color: #111;
					-webkit-overflow-scrolling: touch;
					@include breakpoint(large) {
						height: auto;
						overflow-y:unset;
					}
					&::-webkit-scrollbar { 
						width: 10px; 
					}
					&::-webkit-scrollbar-thumb { 
						background: $gray-600;
					}
					&::-webkit-scrollbar-button { 
						display: none;
					}
					ul {
						margin-left: 0;
						margin-right: 0;
						padding: 0;
						color: #111;
						li {
							height: 270px;
							padding-right: 0;
							margin-top:1%;
							@include breakpoint(large) {
								padding: 0 6px;
							}
							@include breakpoint(medium) {
								flex: auto;
								height: auto;
								margin-top:2%;
							}
							dl {
								background: #fff url(../img/sec2_icon01.png) no-repeat 29% 60%;
									&.conts {
									width: 100%;
									height: 100%;
									padding: 50px 30px;
									dt.txt {
										color: $gray-800;
										@include font-size(20);
										font-family: 'nsB';
									}
									dd {
										background: $beige;
										color: $white;
										@include font-size(14);
										font-family: 'nsL';
										margin: 6px auto 0;
										padding: 7px 2px;
										width: 60px;
									}
								}
							}
							&:nth-child(1) {
								margin-top:0;
							}
							&:nth-child(2) {
								margin-top:0;
								@include breakpoint(small) {
									margin-top: 2%;
								}
								dl {
									background: #eceae7 url(../img/sec2_icon02.png) no-repeat 75% 75%;
								}
							}
							&:nth-child(3) {
								margin-top:0;
								@include breakpoint(medium) {
									margin-top: 2%;
								}
							}
							&:nth-child(4) {
								margin-top:0;
								@include breakpoint(large) {
									margin-top: 1%;
								}
								@include breakpoint(medium) {
									margin-top: 2%;
								}
								dl {
									background: #eceae7 url(../img/sec2_icon02.png) no-repeat 75% 75%;
								}
							}
							&:nth-child(5) {
								dl {
									background: #eceae7 url(../img/sec2_icon02.png) no-repeat 75% 75%;
								}
							}
							&:nth-child(7) {
								dl {
									background: #eceae7 url(../img/sec2_icon02.png) no-repeat 75% 75%;
								}
							}
							&:nth-child(10) {
								dl {
									background: #eceae7 url(../img/sec2_icon02.png) no-repeat 75% 75%;
								}
							}
							&:nth-child(12) {
								dl {
									background: #eceae7 url(../img/sec2_icon02.png) no-repeat 75% 75%;
								}
							}
						}
					}
				}
			}			
		}

		//sub3
		&.sub3{
			position: relative;
			background-image: url(../img/sub3_bg.jpg);
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: repeat;
			.inner {
				.tit_wrap {
					i {
						background: $pink;
					}
					.en_tt {
						color: $pink;
					}
					.ex_txt {
						@include font-size(32);
						@include breakpoint(large) {
							margin-top:20px;
							@include font-size(20);
						}
					}
				}
				article.distinction_at {
					ul {
						padding: 0 10px;
						margin: 0;
						li {
							background: #fff;
							background: rgba(255, 255, 255, 0.4);
							padding: 80px 40px;
							word-break: keep-all;
							&:hover {
								img {
									-webkit-animation: 3s cake ease infinite alternate;
								}
								@keyframes cake {
									from { 
										-webkit-transform: rotateY(0deg);
										transform: rotateY(0deg);
									 }
									to { 
										-webkit-transform: rotateY(360deg);
										transform: rotateY(360deg);
									 }
								}
							}
							@include breakpoint(large) {
								border-bottom: 1px solid rgba(102,102,102,0.1);
								-webkit-animation: none;
								animation: none;
							}
							@include breakpoint(medium) {
								padding: 60px 40px;
							}
							h3.dis_tt {
								color: $gray-800;
								@include font-size(26);
								font-family: 'nsE';
								@include breakpoint(small) {
									@include font-size(23);
									font-family: 'nsB';
								}
							}
							img {
								margin: 40px auto;
								&.mg {
									margin: 56px auto 40px;
									@include breakpoint(small) {
										margin: 40px auto 30px;
									}
								}
							}
							p.dis_list {
								color: $gray-800;
								@include font-size(16);
								@include line-height(11);
								background: url(../img/sub3_arrow.png) no-repeat left 5px;
								//font-family: 'nsL';
								text-align: left;
								padding-left: 15px;
								margin-top:10px;
								@include breakpoint(small) {
									@include font-size(14);
								}
							}
						}
					}
				}
			}
			div.line_wrap {
				i {
					position: absolute;
					top: 0;
					left: 50%;
					width: 1px;
					height: 100%;
					@include opacity-bg(#666, 0.1);
					@include breakpoint(medium) {
						display: none;
					}
					&.line_1 {
						
					}
					&.line_2 {
						margin-left: -290px;
						@include breakpoint(laptop) {
							display: none;
						}
						@include breakpoint(large) {
							display: none;
						}
					}
					&.line_3 {
						margin-left: -588px;
						@include breakpoint(laptop) {
							display: none;
						}
						@include breakpoint(large) {
							display: none;
						}
					}
					&.line_4 {
						margin-left: 290px;
						@include breakpoint(laptop) {
							display: none;
						}
						@include breakpoint(large) {
							display: none;
						}

					}
					&.line_5 {
						margin-left: 589px;
						@include breakpoint(laptop) {
							display: none;
						}
						@include breakpoint(large) {
							display: none;
						}
					}
				}
			}		
		}

		//sub4
		&.sub4{
			background: $indigo;
			.inner {
				.tit_wrap {
					i {
						background: $black;
					}
					.en_tt {
						color: $black;
					}
				}
				article.partner_at {
					ul.review_wrap {
						@include clearfix();
						padding: 0;
						&.mg_t {
							margin-top:3%;
						}
						li {
							@include clearfix();
							background: $white;
							@include border-radius(10px);
							float: left;
							width: 48.5%;
							height: 230px;
							margin-left: 3%;
							&:first-child {
								margin-left: 0;
							}
							@include breakpoint(large) {
								float: none;
								width: 100%;
								margin-top: 3%;
								margin-left: 0;
								&:first-child {
									margin-top: 0;
								}
							}
							div {
								position: relative;
								display: table;
								height: 100%;
								width: 50%;
								@include breakpoint(large) {
									width: 30%;
								}
								h2 {
									@include font-size(30);
									font-family: 'nsE';
									display:table-cell;
									vertical-align:middle;
									@include breakpoint(medium) {
										@include font-size(24);
									}
									@include breakpoint(small) {
										display: none;
									}
								}
								&.review_bg_l {
									@include border-radius(10px 0 0 10px);
									float: left;
									.arrow {
										position: absolute;
										top: 0;
										right: 0;
										margin-top:95px;
										@include breakpoint(small) {
											display: none;
										}
									}
								}
								&.review_bg_r {
									@include border-radius(0 10px 10px 0);
									float: right;
									.arrow {
										position: absolute;
										top: 0;
										left: 0;
										margin-top:95px;
										@include breakpoint(small) {
											display: none;
										}
									}
								}
								&.bg1 {
									background: url(../img/sec4_img01.jpg) no-repeat top left;
									background-position: 20%;
								}
								&.bg2 {
									background: url(../img/sec4_img02.jpg) no-repeat top right;
									background-position: 65%;
								}
								&.bg3 {
									background: url(../img/sec4_img03.jpg) no-repeat top left;
								}
							}
							.review_txt {
								color: $gray-800;
								height: 100%;
								width: 50%;
								float: right;
								text-align: left;
								padding: 45px 20px;
								@include breakpoint(large) {
									br {
										display: none;
										word-break: keep-all;
									}
									width: 70%;
								}
								@include breakpoint(small) {
									padding: 35px 15px 15px;
								}
								h3 {
									color: $gray-800;
									@include font-size(18);
									font-family: 'nsE';
									word-break: keep-all;
									@include breakpoint(small) {
										@include font-size(16);
									}
								}
								p {
									@include font-size(16);
									@include line-height(10);
									//font-family: 'nsL';
									margin-top:20px;
									word-break: keep-all;
									@include breakpoint(small) {
										@include font-size(14);
									}
								}
							}
							&.only3 {
								background: none;
								.review_txt {
									width: 100%;
									background: url(../img/sec4_icon.png) no-repeat 92% top;
									@include breakpoint(large) {
										background: #fff url(../img/sec4_icon.png) no-repeat 92% top;
										@include border-radius(10px);
										p {
											width: 60%;
										}
									}
									@include breakpoint(small) {
										background: #fff;
										p {
											width: 90%;
										}
									}
									a.only_btn {
										color: $gray-800;
										@include font-size(14);
										@include inline-block;
										margin-top:18px;
										padding: 12px 16px;
										border: 1px solid #777;
										text-decoration: none;
										font-family: 'nsR';
										position: relative;
										overflow: hidden;
										&:before {
											content: "";
											position: absolute;
											top: 0;
											left: -100%;
											width: 100%;
											height: 100%;
											background: linear-gradient(
											  120deg,
											  transparent,
											  rgba(146, 148, 248, 0.2),
											  transparent
											);
											transition: all 650ms;
										}
										&:hover:before {
											left: 100%;
										}
										&:hover {
											//@include opacity-bg(#fff, 0.3);
											color: $black;
											border: 1px solid #303030;
											img {
												margin-left: 5px;
												-webkit-transition: all 0.3s;
												-o-transition: all 0.3s;
												transition: all 0.3s;
											}
										}
										img {
											-webkit-transition: all 0.3s;
											-o-transition: all 0.3s;
											transition: all 0.3s;
										}
									}
								}
							}
						}
					}
				}
			}			
		}

	}//section
	
	.footer {
		background: $indigo;
		height: 280px;
		@include breakpoint(small) {
			padding-top:10px;
			height: 320px;
		}
		section.ptn_wrap {
			background: $indigo;
			.inner {
				padding: 0;
				.ptn_carousel {
					height: 90px;
					background: $white;
					.owl-item {
						&:hover {
							img {
							-ms-transform: scale(1.1, 1.1);
							-webkit-transform: scale(1.1, 1.1);
							transform: scale(1.1);
							transition: .3s;
							}
						}
						a {
							@include inline-block;
							width: 100%;
							text-align: center;
							&.item {
								float: left;
								margin: 30px auto;
								border-right: 1px solid #a9a9a9;
								img {
									@include inline-block;
									width: auto;
									transition: .3s;
								}
							}
						}
					}
					.owl-nav {
						position: relative;
						margin: 0;
						.owl-prev {
							background: #fff url(../img/arrow_g_l.png) no-repeat 45% 46%;
							border:none;
							float: left;
							width: 61px;
							height: 90px;
							border-radius: 0;
							margin: -90px 0 0 0;
							outline:none;
							&:hover {
								background: #f5f5f5 url(../img/arrow_g_l.png) no-repeat 45% 46%;
							}
							@include breakpoint(medium) {
								background: #fff url(../img/arrow_g_l.png) no-repeat 85% 50%;
								&:hover {
									background: #f5f5f5 url(../img/arrow_g_l.png) no-repeat 85% 50%;
								}
							}
						}
						.owl-next {
							background: #fff url(../img/arrow_g_r.png) no-repeat 53% 46%;
							border:none;
							float: right;
							width: 61px;
							height: 90px;
							border-radius: 0;
							margin: -90px 0 0 0;
							outline:none;
							&:hover {
								background: #f5f5f5 url(../img/arrow_g_r.png) no-repeat 53% 46%;
							}
							@include breakpoint(medium) {
								background: #fff url(../img/arrow_g_r.png) no-repeat 10% 46%;
								&:hover {
									background: #f5f5f5 url(../img/arrow_g_r.png) no-repeat 10% 46%;
								}
							}
						}
						span {
							display: none;
						}
					}
					.owl-dots {
						display: none;
					}
				}
			}
		}
		section.info_wrap {
			background: $gray-900;
			margin-top:30px;
			.inner {
				position: relative;
				padding: 40px 0;
				@include breakpoint(large) {
					padding: 30px 10px;
				}
				@include breakpoint(medium) {
					padding: 3% 5%;
				}
				@include breakpoint(small) {
					padding: 7% 5%;
				}
				a.top_btn {
					position: absolute;
					animation: 0.6s balloon2 ease-in-out infinite alternate;
					top: 0;
					right: 0;
					text-transform: uppercase;
					background: $gray-800;
					color: $white;
					@include font-size(11);
					font-family: 'nsE';
					padding: 4px 5px;
					text-decoration: none;
					@include breakpoint(medium) {
						margin-right: 5%;
					}
					@include breakpoint(small) {
						top: -20px;
					}
				}
				@keyframes balloon2 {
					0% {
						margin-top: 10px; 
					}
					100% {
						margin-top: 15px;
					}
				}
				p {
					&.info {
						color: $white;
						@include font-size(13);
						@include line-height(10);
						font-family: 'nsB';
						text-align: left;
						@include breakpoint(small) {
							@include font-size(12);
						}
					}
					&.copy {
						color: $gray-200;
						@include font-size(11);
						text-align: left;
						margin-top: 15px;
						text-transform: uppercase;
						@include breakpoint(small) {
							margin-top: 20px;
							@include font-size(10);
						}
					}
				}
			}
		}
	}

 }//wrap

