@charset 'utf-8';

/*NanumSquare.scss*/
@import 'NanumSquare';
@import 'reset';

 
//크롬과 파이어폭스 브라우저에서 글자에 안티앨리어싱이 적용
html {
	-webkit-text-size-adjust: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
//크롬나눔고딕깨지는현상보정
body {
	font-family: 'nsR', sans-serif, -apple-system;
	font-size: 18px;
	transform: skew(-0.03deg);
	color: white;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	.header {
		position: fixed;
		width: 100%;
		z-index: 10;
		background-color: #000;
		background-color: rgba(0, 0, 0, 0.3);
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s; 
		&.fixed{
			background-color: #fff;
			background: rgba(0, 0, 0, 0);
			-webkit-box-shadow: 0 2px 5px 0 rgba(125, 125, 125, 0.3);
			box-shadow: 0 2px 5px 0 rgba(125, 125, 125, 0.3);
		}
		nav {
			&.navbar-light {
				.navbar-brand {
					color: #fff;
				}
				.navbar-nav {
					li {
						&.active {
							a {
								color: #000;
							}
						}
						a {
							font-size: 18px;
							color: #fff;
						}
					}
				}
			}
		}
	}//header

	section {
		&.section {
			position: relative;
			overflow: hidden; 
			.inner {
				position: absolute;
				height: 100%;
				width: 100%;
				left:0;
				top:0;
				margin: 0 auto; 
				.vertical-center {
				text-align: center;
				width: 100%;
				position: absolute;
				top: 47%;
				-webkit-transform: translateY(-47%);
				-ms-transform: translateY(-47%);
				transform: translateY(-47%);
					a:link, a:visited {
						color: white;
						text-decoration: none;
						font-size: 0.6em;
					}
					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
		&.home {
			background: #000;
			video {
				width:100%;
				height:100%;
				position: absolute;
				top:0;
				left:0;
				object-fit:fill;
			}
			.btn_box{
				display:inline-block;
				position:absolute;
				bottom:20%;
				left:50%;
				font-size:20px;
				margin-left:-50px; /*박스 width값 반값집어넣으면대 -로 */
				.scroll_icon{
					color:#fff;
				}
			}
		}
		&.sub1{
			background: #3ecc98;
			.owl-carousel {
				.item {
					height: 10rem;
					background: #ccc;
					padding: 1rem;
				}
			}
		}//.sub1
		&.sub2{
			background: #ff7c0a;
			
		}//.sub1
		&.sub3{
			background: #47a3d1;
			
		}//.sub1
		&.sub4{
			background: #f73656;
			
		}//.sub1


	}//section
	.footer {
		background-color: #000;
		height: 200px; 
		.inner {
			position: relative;
			p {
				color: #fff;
				font-size: 50px;
				text-align: center;
				padding-top:30px;
			}
		}
	}
 }//wrap


  
  
