@charset 'utf-8';

/*NanumSquare.scss*/
@import 'NanumSquare';
@import 'reset';
@import 'mixins';

//컬러 플레이스홀더
@include color-list (
	co_white #ffffff,
	co_black #111111,
		co_light_black #303030,
	co_gray #666666,
		co_light_gray #eeeeee,
		co_light_gray_beige #eceae7,
	co_blue #0c4da2,
	co_sky #6cc2f3,
	co_beige #d2a16d,
	co_red #ff6871,
	co_yellow #ffd74a,
);
//컬러 플레이스 홀더 내용
//└위 color-list 믹스인에 네임과 컬러값을 추가하여 변수로 활용
//   1-1. %event_wrap_light_변수 - 밝은색 바탕 컬러 세트(밝은 배경/진한 글씨/진한 라인)
//   1-2. %event_wrap_dark_변수 - 어두운색 바탕 컬러 세트(어두운 배경/밝은 글씨/밝은 라인)
//   2-1. %font_color_변수 - 폰트 컬러 속성
//   2-2. %bg_color_변수 - 배경색 컬러 속성
//   2-3. %border_color_변수 - 라인 컬러 속성
 
@keyframes balloon {
    0% {
        margin-bottom: 50px; 
    }
    100% {
        margin-bottom: 55px;
    }
}

@keyframes balloon2 {
    0% {
        margin-top: 10px; 
    }
    100% {
        margin-top: 15px;
    }
}

//크롬과 파이어폭스 브라우저에서 글자에 안티앨리어싱이 적용
html {
	-webkit-text-size-adjust: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
//크롬나눔고딕깨지는현상보정
body {
	font-family: 'nsR', sans-serif, -apple-system;
	font-size: 18px;
	@extend %font_color_co_white;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	@extend %bg_color_co_white;
	
	header {
		&.header {
			position: fixed;
			width: 100%;
			z-index: 999;
			@extend %bg_color_co_black;
			padding: 0;
			border-bottom: 1px solid rgba(255,255,255,0.1);
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
			.sm_logo {
				display: block;
			}
			.hd_logo {
				display: none;
			}
			nav.navbar {
				.navbar-collapse {
					.navbar-nav {
						li {
							margin: 0 50px;
							@include breakpoint(large) {
								margin: 1%;
							}
						}
					}
				}
			}
			.navbar-toggler {
				@include opacity-bg(#fff, 0.1);
				.navbar-toggler-icon {
					color: #fff;
				}
			}
		}
		&.fixed{
			background: none;
			border: none;
			padding: 60px 100px;
			@include breakpoint(small) {
				background: #fff;
			}
			.sm_logo {
				display: none;
			}
			.hd_logo {
				display: block;
			}
			nav.navbar {
				.navbar-collapse {
					.navbar-nav {
						li {
							margin: 0 30px;
							@include breakpoint(large) {
								margin: 1%;
							}
						}
					}
				}
			}
			@include breakpoint(large) {
				padding: 1% 2%;
				@include opacity-bg(#111, 0.8);
				border-bottom: 1px solid rgba(255,255,255,0.1);
			}
		}
		nav {
			width: 100%;
			&.navbar {
				.navbar-brand {
					width: 10%;
					img{ 
						@include breakpoint(medium) {
							width: 74px;
						}
					}
				}
				.navbar-collapse {
					width: 90%;
					@include breakpoint(large) {
						width:100%;
					}
					.navbar-nav {
						width: 75%;
						padding-left: 12%;
						@include breakpoint(laptop) {
							padding-left: 4%;
						}
						@include breakpoint(large) {
							width:100%;
							padding-left:0;
						}
						li {
							position: relative;
							@include breakpoint(large) {
								border-bottom: 1px solid rgba(255,255,255,0.1);
							}
							a {
								@extend %font_color_co_white;
								@include font-size(16);
								font-family: 'nsB';
								@include breakpoint(laptop) {
									white-space: nowrap;
								}
								@include breakpoint(large) {
									padding: 3% 0;
								}
								i {
									position: absolute;
									bottom: 0;
									left: 0;
									width: 0%;
									-webkit-transition: all 0.5s;
									-o-transition: all 0.5s;
									transition: all 0.5s;
								}
								&.nav-link {
									padding-right: .2rem;
									padding-left: .1rem;
								}
								&:hover {
									i {
										@include inline-block();
										@extend %bg_color_co_white;
										width: 100%;
										height: 2px;
										-webkit-transition: all 0.5s;
										-o-transition: all 0.5s;
										transition: all 0.5s;
									}
								}
								span {
									@extend %font_color_co_light_gray;
									@include font-size(12);
									font-family: 'nsR';
									margin-left: 10px;
								}
							}
							&.active {
								a {
									i {
										@include inline-block();
										@extend %bg_color_co_white;
										width: 100%;
										height: 2px;
										-webkit-transition: all 0.5s;
										-o-transition: all 0.5s;
										transition: all 0.5s;
									}
								}
							}
						}
					}
					div.down_box {
						text-align: right;
						width: 25%;
						@include breakpoint(large) {
							margin: 3% 0;
							width:100%;
						}
						a.down_btn {
							@extend %font_color_co_gray;									
							@include font-size(11);
							@include border-radius(4px);
							@include inline-block();
							border: 1px solid #777;
							padding: 9px 10px;
							text-decoration: none;
							transition: .3s;
							&.bg1 {
								width: 115px;
								background: url(../img/hd_icon01.png) no-repeat 9px 45%;
								@include breakpoint(laptop) {
									width: 38px;
								}
							}
							&.bg2 {
								width: 125px;
								background: url(../img/hd_icon02.png) no-repeat 10px 45%;
								@include breakpoint(laptop) {
									width: 38px;
								}
							}
							&:hover {
								border: 1px solid #888;
								color: #999;
								transition: .3s;
							}
							span {
								//padding-left: 25px;
								@include breakpoint(laptop) {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}//header
	
	section {
		//공통
		&.section {
			position: relative;
			overflow: hidden;
		}
		.inner {
			text-align: center;
			width: 1200px;
			padding: 75px 10px;
			margin: 0 auto;
			//-webkit-transform: translateY(-47%);
			//-ms-transform: translateY(-47%);
			//transform: translateY(-47%);
			@include breakpoint(large) {
				width: 100%;
			}
			@include breakpoint(medium) {
				padding: 75px 5%;
			}
			.tit_wrap {
				i {
					@include inline-block();
					width: 2px;
					height: 55px;
					@include breakpoint(medium) {
						height: 30px;
					}
				}
				.en_tt {
					@include font-size(18);
					margin-top:40px;
					font-family: 'nsB';
					text-transform: uppercase;
					@include breakpoint(medium) {
						margin-top:2%;
					}
				}
				.ex_txt {
					@extend %font_color_co_gray;
					@include font-size(34);
					margin-top:40px;
					font-family: 'nsL';
					letter-spacing: -0.5px;
					word-break: keep-all;
					@include breakpoint(large) {
						margin-top:20px;
						@include font-size(20);
					}
					@include breakpoint(medium) {
						display: none;
					}
				}
			}
			article {
				margin-top: 70px;
				@include breakpoint(large) {
					margin-top:40px;
				}
			}
		
		}
		.no_pc {
			display: none;
			position: absolute;
			animation: 0.6s balloon ease-in-out infinite alternate;
			@include opacity-bg(#aaa, 0.1);
			left: 50%;
			bottom: 0;
			width: 128px;
			margin-left: -64px;
			margin-bottom: 50px;
			text-align: center;
			padding: 5px 10px 7px;
			z-index: 99;
			@include border-radius(50px);
			@include breakpoint(large) {
				display: block;
			}
			@include breakpoint(small) {
				display: block;
				text-transform: uppercase;
				@include font-size(12);
				font-family: 'nsB';
			}
			a {
				@extend %font_color_co_gray;
				text-decoration: none;
			}
		}

		//home
		&.home {
			background: #000;
			.carousel {
				.carousel-inner {
					.carousel-caption {
						width: 1200px;
						top: 0;
						left: 50%;
						margin-left: -600px;
						text-align: left;
						@include breakpoint(large) {
							width: 100%;
							left: 0;
							margin-left: 0;
							text-align: center;
						}
						h3 {
							@include font-size(58);
							@extend %font_color_co_white;
							margin-top:39%;
							font-family: 'nsB';
							letter-spacing: -0.5px;
							@include breakpoint(laptop) {
								margin-top:26%;
							}
							@include breakpoint(large) {
								margin-top:26%;
								@include font-size(46);
							}
							@include breakpoint(small) {
								margin-top:45%;
								padding:0 1%;
								@include font-size(34);
								word-break: keep-all;
							}
							span {
								@extend %font_color_co_beige;
							}
						}
						p {
							@include font-size(20);
							@include line-height(15);
							@extend %font_color_co_white;
							margin-top: 4%;
							font-family: 'nsL';
							@include breakpoint(large) {
								@include font-size(16);
								@include line-height(11);
								margin-top: 3%;
							}
							@include breakpoint(small) {
								@include font-size(14);
								@include line-height(9);
								color: #ddd;
								word-break: keep-all;
								width: 80%;
								margin-left: 10%;
								margin-top:5%;
								br {
									display: none;
								}
							}
						}
					}
				}
				.car_btn_wrap {
					position: absolute;
					width: 1200px;
					top: 0;
					left: 50%;
					margin-left: -600px;
					height: 100%;
					z-index: 99;
					.carousel-indicators {
						position: relative;
						right: 0;
						margin-top:69%;
						margin-left: 85%;
						margin-right: 0;
						@include breakpoint(laptop) {
							margin-top:56%;
						}
						@include breakpoint(large) {
							margin:0;
							margin-top:45%;
						}
						@include breakpoint(medium) {
							margin-top:34%;
						}
						@include breakpoint(small) {
							margin-top:38%;
						}
						li {
							width: 5px;
							height: 5px;
							border-radius: 100px;
							background: #aaaaaa;
							border:2px solid #aaaaaa;
							margin: 0 5px;
							&.active {
								margin-top:-1px;
								background: transparent;
								border:3px solid #fff;
							}
							&:hover {
								@include opacity(0.7);
							}
						}
					}
					.carousel-control-prev {
						left: 0;
						margin-top:65%;
						width: 60px;
						height: 60px;
						border: 1px solid #fff;
						@include breakpoint(laptop) {
							margin-top:52%;
						}
						@include breakpoint(large) {
							display: none;
						}
					}
					.carousel-control-next {
						left: 0;
						margin-left: 63px;
						margin-top:65%;
						width: 60px;
						height: 60px;
						border: 1px solid #fff;
						@include breakpoint(laptop) {
							margin-top:52%;
						}
						@include breakpoint(large) {
							display: none;
						}
					}
				}
			}
			video {
				position: relative;
				width:100%;
				height:100%;
				top:0;
				left:0;
				object-fit:fill;
				i {
					position: absolute;
					@include inline-block();
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					@include opacity-bg(#111, 0.4);
				}
			}
			.btn_box{
				display:inline-block;
				position:absolute;
				bottom:20%;
				left:50%;
				font-size:20px;
				margin-left:-50px; /*박스 width값 반값집어넣으면대 -로 */
				z-index: 999;
				.scroll_icon{
					color:#fff;
				}
			}
		}

		//sub1
		&.sub1{
			@extend %bg_color_co_white;
			.inner {
				.tit_wrap {
					i {
						@extend %bg_color_co_blue;
					}
					.en_tt {
						@extend %font_color_co_blue;
					}
				}
				.owl-carousel {
					&::-webkit-scrollbar { 
						width: 10px; 
					}
					&::-webkit-scrollbar-thumb { 
						@extend %bg_color_co_gray;
					}
					&::-webkit-scrollbar-button { 
						display: none;
					}
					@include breakpoint(laptop) {
						scrollbar-track-color: #fff;
						scrollbar-arrow-color: #0c4da2;
						scrollbar-face-color: #303030;
						scrollbar-shadow-color: #fff;
						-webkit-overflow-scrolling: touch;
						height: 360px;
						overflow-y: scroll;
						overflow-x: hidden;
					}
					div {
						-webkit-transition: all 0.5s;
						-o-transition: all 0.5s;
						transition: all 0.5s;
						&.item {
							float: left;
							height: 500px;
							width: 100%;
							padding: 220px 30px 40px;
							@include breakpoint(medium) {
								height: auto;
								min-height: 340px;
								padding: 10% 5%;
							}
						}
						&.bg1 {
							background: #fff url(../img/sec1_icon01.png) no-repeat center 10%;
							&:hover {
								background: #0c4da2 url(../img/sec1_icon01_hover.png) no-repeat center 10%;
								-webkit-transition: all 0.5s;
								-o-transition: all 0.5s;
								transition: all 0.5s;
								h3 {
									@extend %font_color_co_white;
								}
								p {
									@extend %font_color_co_white;
								}
								@include breakpoint(medium) {
									background: #0c4da2;
								}
							}
							@include breakpoint(medium) {
								background: #fff url(../img/lean_bg.png) repeat top left;
								border-radius: 10px;
								border: 1px solid #f1f1f1;
							}
						}
						&.bg2 {
							background: #fff url(../img/sec1_icon02.png) no-repeat center 10%;
							&:hover {
								background: #0c4da2 url(../img/sec1_icon02_hover.png) no-repeat center 10%;
								-webkit-transition: all 0.5s;
								-o-transition: all 0.5s;
								transition: all 0.5s;
								h3 {
									@extend %font_color_co_white;
								}
								p {
									@extend %font_color_co_white;
								}
								@include breakpoint(medium) {
									background: #0c4da2;
								}
							}
							@include breakpoint(medium) {
								background: #fff url(../img/lean_bg.png) repeat top left;
								border-radius: 10px;
								border: 1px solid #f1f1f1;
							}
						}
						&.bg3 {
							background: #fff url(../img/sec1_icon03.png) no-repeat center 10%;
							&:hover {
								background: #0c4da2 url(../img/sec1_icon03_hover.png) no-repeat center 10%;
								-webkit-transition: all 0.5s;
								-o-transition: all 0.5s;
								transition: all 0.5s;
								h3 {
									@extend %font_color_co_white;
								}
								p {
									@extend %font_color_co_white;
								}
								@include breakpoint(medium) {
									background: #0c4da2;
								}
							}
							@include breakpoint(medium) {
								background: #fff url(../img/lean_bg.png) repeat top left;
								border-radius: 10px;
								border: 1px solid #f1f1f1;
							}
						}
						&.bg4 {
							background: #fff url(../img/sec1_icon04.png) no-repeat center 10%;
							&:hover {
								background: #0c4da2 url(../img/sec1_icon04_hover.png) no-repeat center 10%;
								-webkit-transition: all 0.5s;
								-o-transition: all 0.5s;
								transition: all 0.5s;
								h3 {
									@extend %font_color_co_white;
								}
								p {
									@extend %font_color_co_white;
								}
								@include breakpoint(medium) {
									background: #0c4da2;
								}
							}
							@include breakpoint(medium) {
								background: #fff url(../img/lean_bg.png) repeat top left;
								border-radius: 10px;
								border: 1px solid #f1f1f1;
							}
						}
						&.bg5 {
							background: #fff url(../img/sec1_icon05.png) no-repeat center 10%;
							&:hover {
								background: #0c4da2 url(../img/sec1_icon05_hover.png) no-repeat center 10%;
								-webkit-transition: all 0.5s;
								-o-transition: all 0.5s;
								transition: all 0.5s;
								h3 {
									@extend %font_color_co_white;
								}
								p {
									@extend %font_color_co_white;
								}
								@include breakpoint(medium) {
									background: #0c4da2;
								}
							}
							@include breakpoint(medium) {
								background: #fff url(../img/lean_bg.png) repeat top left;
								border-radius: 10px;
								border: 1px solid #f1f1f1;
							}
						}
						i {
							@include inline-block();
							background: #ccc;
							height: 1px;
							width: 60px;
							@include breakpoint(medium) {
								display: none;
							}
						}
						h3 {
							@extend %font_color_co_light_black;
							@include font-size(30);
							margin-top: 10px;
							span {
								@include font-size(12);
							}
							@include breakpoint(medium) {
								@include font-size(20);
								font-family: 'nsB';
								word-break: keep-all;
							}
						}
						p {
							margin-top:30px;
							@extend %font_color_co_light_black;
							@include font-size(16);
							@include line-height(13);
							letter-spacing: -0.5px;
							@include breakpoint(medium) {
								@include font-size(14);
								word-break: keep-all;
								text-align: left;
								br {
									display: none;
								}
							}
							mark {
								@extend %font_color_co_sky;
								background: none;
								font-family: 'nsB';
							}
							em {
								@include font-size(12);
								@include line-height(8);
								margin-top:5px;
								display: block;
								color: #aaa;
							}
							a {
								@include font-size(14);
								@extend %font_color_co_sky;
								font-family: 'nsR';
							}
						}
					}
					.owl-nav {
						position: absolute;
						width: 100%;
						top: 50%;
						left: 0;
						margin-top: -80px;
						height: 90px;
						@include breakpoint(small) {
							margin-top: 0;
							height: -30px;
							@include opacity(0.3);
						}
						.owl-prev {
							background: rgba(1,1,1,0.2) url(../img/arrow_thin_l.png) no-repeat 40% 46%;
							float: left;
							width: 35px;
							height: 90px;
							border-radius: 0;
							margin: 0;
							@include breakpoint(medium) {
								background: rgba(1,1,1,0.5) url(../img/arrow_thin_l.png) no-repeat 40% 46%;
							}
							&:hover {
								@include opacity(0.6);
							}
						}
						.owl-next {
							background: rgba(1,1,1,0.2) url(../img/arrow_thin_r.png) no-repeat 55% 46%;
							float: right;
							width: 35px;
							height: 90px;
							border-radius: 0;
							margin: 0;
							@include breakpoint(medium) {
								background: rgba(1,1,1,0.5) url(../img/arrow_thin_r.png) no-repeat 55% 46%;
							}
							&:hover {
								@include opacity(0.6);
							}
						}
						span {
							display: none;
						}
					}
					.owl-dots {
						display: none;
					}
				}
			}
		}
		
		//sub2
		&.sub2{
			@extend %bg_color_co_black;
			.inner {
				.tit_wrap {
					i {
						@extend %bg_color_co_beige;
					}
					.en_tt {
						@extend %font_color_co_beige;
					}
				}
				article.course_at {
					height: 430px;
					overflow-y: auto;
					overflow-x: hidden;
					scrollbar-track-color: #111;
					scrollbar-arrow-color: #d2a16d;
					scrollbar-face-color: #303030;
					//scrollbar-darkshadow-color: #111;
					//scrollbar-highlight-color: #111;
					scrollbar-shadow-color: #111;
					-webkit-overflow-scrolling: touch;
					@include breakpoint(laptop) {
						height: 360px;
						overflow-y: scroll;
					}
					&::-webkit-scrollbar { 
						width: 10px; 
					}
					&::-webkit-scrollbar-thumb { 
						@extend %bg_color_co_gray;
					}
					&::-webkit-scrollbar-button { 
						display: none;
					}
					ul {
						margin-left: 0;
						margin-right: 0;
						color: #111;
						li {
							height: 270px;
							padding-right: 0;
							@include breakpoint(medium) {
								flex: auto;
								height: auto;
								margin-top: 1%;
							}
							&:first-child {
								margin-top: 0;
							}
							dl.conts {
								width: 100%;
								height: 100%;
								padding: 50px 30px;
								dt.txt {
									@extend %font_color_co_light_black;
									@include font-size(20);
									font-family: 'nsB';
								}
								dd {
									@extend %bg_color_co_beige;
									@extend %font_color_co_white;
									@include font-size(14);
									font-family: 'nsL';
									margin: 6px auto 0;
									padding: 7px 2px;
									width: 60px;
								}
							}
						}
						&.st1 {
							li {
								dl{
									//@extend %bg_color_co_white;
									background: #fff url(../img/sec2_icon01.png) no-repeat 29% 60%;
								}
								&:nth-child(2n) {
									dl{
										//@extend %bg_color_co_light_gray_beige;
										background: #eceae7 url(../img/sec2_icon02.png) no-repeat 75% 82%;
									}
								}
							}
						}
						&.st2 {
							li {
								dl {
									//@extend %bg_color_co_light_gray_beige;
									background: #eceae7 url(../img/sec2_icon02.png) no-repeat 75% 75%;
								}
								&:nth-child(2n) {
									dl {
										//@extend %bg_color_co_white;
										background: #fff url(../img/sec2_icon01.png) no-repeat 30% 60%;
									}
								}
							}
						}
					}
				}
			}			
		}

		//sub3
		&.sub3{
			background: url(../img/sub3_bg.jpg) no-repeat top center;
			background-size: cover;
			position: relative;
			.inner {
				.tit_wrap {
					i {
						@extend %bg_color_co_red;
					}
					.en_tt {
						@extend %font_color_co_red;
					}
					.ex_txt {
						@include font-size(32);
						@include breakpoint(large) {
							margin-top:20px;
							@include font-size(20);
						}
					}
				}
				article.distinction_at {
					@include opacity-bg(#fff, 0.4);
					scrollbar-track-color: #fff;
					scrollbar-arrow-color: #ff515d;
					scrollbar-face-color: #303030;
					scrollbar-shadow-color: #fff;
					-webkit-overflow-scrolling: touch;
					&::-webkit-scrollbar { 
						width: 10px; 
					}
					&::-webkit-scrollbar-thumb { 
						background: #666;
					}
					&::-webkit-scrollbar-button { 
						display: none;
					}
					@include breakpoint(laptop) {
						height: 360px;
						overflow-y: scroll;
						overflow-x: hidden;
					}
					@include breakpoint(large) {
						height: 430px;
						overflow-y: auto;
						overflow-x: hidden;
					}
					@include breakpoint(medium) {
						@include opacity-bg(#eceae7, 0.4);
						scrollbar-track-color: #eceae7;
					}
					ul {
						padding: 0 10px;
						li {
							padding: 80px 40px;
							word-break: keep-all;
							@include breakpoint(medium) {
								border-bottom: 1px solid rgba(102,102,102,0.1);
							}
							h3.dis_tt {
								@extend %font_color_co_light_black;
								@include font-size(26);
								font-family: 'nsE';
							}
							img {
								margin: 40px auto;
								&.mg {
									margin: 56px auto 40px;
								}
							}
							p.dis_list {
								@extend %font_color_co_light_black;
								@include font-size(16);
								@include line-height(11);
								background: url(../img/sub3_arrow.png) no-repeat left 5px;
								//font-family: 'nsL';
								text-align: left;
								padding-left: 15px;
								margin-top:10px;
							}
						}
					}
				}
			}
			div.line_wrap {
				i {
					position: absolute;
					top: 0;
					left: 50%;
					width: 1px;
					height: 100%;
					@include opacity-bg(#666, 0.1);
					@include breakpoint(medium) {
						display: none;
					}
					&.line_1 {
						
					}
					&.line_2 {
						margin-left: -300px;
					}
					&.line_3 {
						margin-left: -588px;
					}
					&.line_4 {
						margin-left: 300px;
					}
					&.line_5 {
						margin-left: 589px;
					}
				}
			}		
		}

		//sub4
		&.sub4{
			@extend %bg_color_co_light_gray;
			.inner {
				.tit_wrap {
					i {
						@extend %bg_color_co_black;
					}
					.en_tt {
						@extend %font_color_co_black;
					}
				}
				article.partner_at {
					scrollbar-track-color: #e1e1e1;
					scrollbar-arrow-color: #303030;
					scrollbar-face-color: #303030;
					//scrollbar-darkshadow-color: #111;
					//scrollbar-highlight-color: #111;
					scrollbar-shadow-color: #e1e1e1;
					-webkit-overflow-scrolling: touch;
					&::-webkit-scrollbar { 
						width: 10px; 
					}
					&::-webkit-scrollbar-thumb { 
						background: #666;
					}
					&::-webkit-scrollbar-button { 
						display: none;
					}
					@include breakpoint(laptop) {
						height: 360px;
						overflow-y: scroll;
						overflow-x: hidden;
					}
					@include breakpoint(large) {
						height: 430px;
						overflow-y: auto;
						overflow-x: hidden;
					}
					ul.review_wrap {
						@include clearfix();
						&.mg_t {
							margin-top:3%;
						}
						li {
							@include clearfix();
							@extend %bg_color_co_white;
							@include border-radius(10px);
							float: left;
							width: 48.5%;
							height: 230px;
							margin-left: 3%;
							&:first-child {
								margin-left: 0;
							}
							@include breakpoint(large) {
								float: none;
								width: 100%;
								margin-top: 3%;
								margin-left: 0;
								&:first-child {
									margin-top: 0;
								}
							}
							div {
								position: relative;
								display: table;
								height: 100%;
								width: 50%;
								@include breakpoint(large) {
									width: 30%;
								}
								h2 {
									@include font-size(30);
									font-family: 'nsE';
									display:table-cell;
									vertical-align:middle;
									@include breakpoint(medium) {
										@include font-size(24);
									}
									@include breakpoint(small) {
										display: none;
									}
								}
								&.review_bg_l {
									@include border-radius(10px 0 0 10px);
									float: left;
									.arrow {
										position: absolute;
										top: 0;
										right: 0;
										margin-top:95px;
										@include breakpoint(small) {
											display: none;
										}
									}
								}
								&.review_bg_r {
									@include border-radius(0 10px 10px 0);
									float: right;
									.arrow {
										position: absolute;
										top: 0;
										left: 0;
										margin-top:95px;
										@include breakpoint(small) {
											display: none;
										}
									}
								}
								&.bg1 {
									background: url(../img/sec4_img01.jpg) no-repeat top left;
								}
								&.bg2 {
									background: url(../img/sec4_img02.jpg) no-repeat top right;
								}
								&.bg3 {
									background: url(../img/sec4_img03.jpg) no-repeat top left;
								}
							}
							.review_txt {
								@extend %font_color_co_light_black;
								height: 100%;
								width: 50%;
								float: right;
								text-align: left;
								padding: 45px 20px;
								@include breakpoint(large) {
									br {
										display: none;
									}
									width: 70%;
								}
								@include breakpoint(small) {
									padding: 35px 15px 15px;
								}
								h3 {
									@extend %font_color_co_light_black;
									@include font-size(18);
									font-family: 'nsE';
									word-break: keep-all;
									@include breakpoint(small) {
										@include font-size(16);
									}
								}
								p {
									@include font-size(16);
									@include line-height(10);
									//font-family: 'nsL';
									margin-top:20px;
									word-break: keep-all;
									@include breakpoint(small) {
										@include font-size(14);
									}
								}
							}
							&.only3 {
								background: none;
								.review_txt {
									width: 100%;
									background: url(../img/sec4_icon.png) no-repeat 92% top;
									@include breakpoint(large) {
										background: #fff url(../img/sec4_icon.png) no-repeat 92% top;
										@include border-radius(10px);
									}
									@include breakpoint(small) {
										background: #fff;
									}
									a.only_btn {
										@extend %font_color_co_light_black;
										@include font-size(14);
										@include inline-block;
										margin-top:18px;
										padding: 12px 16px;
										border: 1px solid #777;
										text-decoration: none;
										font-family: 'nsR';
										transition: 0.3s;
										&:hover {
											@extend %font_color_co_black;
											transition: 0.3s;
											border: 1px solid #303030;
											img {
												margin-left: 2px;
											}
										}
									}
								}
							}
						}
					}
				}
			}			
		}

	}//section
	
	.footer {
		background: #eeeeee;
		height: 280px;
		@include breakpoint(small) {
			padding-top:10px;
			height: 320px;
		}
		section.ptn_wrap {
			@extend %bg_color_co_light_gray;
			.inner {
				padding: 0;
				.ptn_carousel {
					height: 90px;
					@extend %bg_color_co_white;
					div {
						width: 100%;
						text-align: center;
						@include clearfix();
						&.item {
							float: left;
							margin: 30px auto;
							border-right: 1px solid #a9a9a9;
							img {
								@include inline-block;
								width: auto;
							}
						}
					}
					.owl-nav {
						position: absolute;
						width: 100%;
						top: 0;
						left: 0;
						height: 90px;
						margin: 0;
						.owl-prev {
							background: #fff url(../img/arrow_g_l.png) no-repeat 45% 46%;
							border:none;
							float: left;
							width: 61px;
							height: 90px;
							border-radius: 0;
							margin: 0;
							&:hover {
								background: #f5f5f5 url(../img/arrow_g_l.png) no-repeat 45% 46%;
							}
							@include breakpoint(medium) {
								background: #fff url(../img/arrow_g_l.png) no-repeat 85% 50%;
								&:hover {
									background: #f5f5f5 url(../img/arrow_g_l.png) no-repeat 85% 50%;
								}
							}
						}
						.owl-next {
							background: #fff url(../img/arrow_g_r.png) no-repeat 53% 46%;
							border:none;
							float: right;
							width: 61px;
							height: 90px;
							border-radius: 0;
							margin: 0;
							&:hover {
								background: #f5f5f5 url(../img/arrow_g_r.png) no-repeat 53% 46%;
							}
							@include breakpoint(medium) {
								background: #fff url(../img/arrow_g_r.png) no-repeat 10% 46%;
								&:hover {
									background: #f5f5f5 url(../img/arrow_g_r.png) no-repeat 10% 46%;
								}
							}
						}
						span {
							display: none;
						}
					}
					.owl-dots {
						display: none;
					}
				}
			}
		}
		section.info_wrap {
			background: #202020;
			margin-top:30px;
			.inner {
				position: relative;
				padding: 40px 0;
				@include breakpoint(large) {
					padding: 30px 10px;
				}
				@include breakpoint(medium) {
					padding: 3% 5%;
				}
				@include breakpoint(small) {
					padding: 7% 5%;
				}
				a.top_btn {
					position: absolute;
					animation: 0.6s balloon2 ease-in-out infinite alternate;
					top: 0;
					right: 0;
					text-transform: uppercase;
					@extend %bg_color_co_light_black;
					@extend %font_color_co_white;
					@include font-size(11);
					font-family: 'nsE';
					padding: 4px 5px;
					text-decoration: none;
					@include breakpoint(medium) {
						margin-right: 5%;
					}
					@include breakpoint(small) {
						top: -20px;
					}
				}
				p {
					&.info {
						@extend %font_color_co_white;
						@include font-size(13);
						@include line-height(10);
						font-family: 'nsB';
						text-align: left;
						@include breakpoint(small) {
							@include font-size(12);
						}
					}
					&.copy {
						@extend %font_color_co_light_gray;
						@include font-size(11);
						text-align: left;
						margin-top: 15px;
						text-transform: uppercase;
						@include breakpoint(small) {
							margin-top: 20px;
							@include font-size(10);
						}
					}
				}
			}
		}
	}

 }//wrap


  
  

  
  
